In [1]:
import pandas as pd
train = pd.read_csv('/kaggle/input/playground-series-s4e6/train.csv')
train.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [2]:
test = pd.read_csv('/kaggle/input/playground-series-s4e6/test.csv')
test.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

In [4]:
train.nunique()

id                                                76518
Marital status                                        6
Application mode                                     22
Application order                                     8
Course                                               19
Daytime/evening attendance                            2
Previous qualification                               21
Previous qualification (grade)                      110
Nacionality                                          18
Mother's qualification                               35
Father's qualification                               39
Mother's occupation                                  40
Father's occupation                                  56
Admission grade                                     668
Displaced                                             2
Educational special needs                             2
Debtor                                                2
Tuition fees up to date                               2
Gender                                                2
Scholarship holder                                    2
Age at enrollment                                    46
International                                         2
Curricular units 1st sem (credited)                  21
Curricular units 1st sem (enrolled)                  24
Curricular units 1st sem (evaluations)               36
Curricular units 1st sem (approved)                  23
Curricular units 1st sem (grade)                   1206
Curricular units 1st sem (without evaluations)       12
Curricular units 2nd sem (credited)                  20
Curricular units 2nd sem (enrolled)                  22
Curricular units 2nd sem (evaluations)               31
Curricular units 2nd sem (approved)                  21
Curricular units 2nd sem (grade)                   1234
Curricular units 2nd sem (without evaluations)       11
Unemployment rate                                    11
Inflation rate                                       13
GDP                                                  11
Target                                                3
dtype: int64

In [5]:
train=train.drop(['id'],axis=1)
train.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,1,1,9238,1,1,126.0,1,1,19,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,17,1,9238,1,1,125.0,1,19,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,1,17,2,9254,1,1,137.0,1,3,19,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,1,1,3,9500,1,1,131.0,1,19,3,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,1,1,2,9500,1,1,132.0,1,19,37,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [6]:
test=test.drop(['id'],axis=1)
test.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9500,1,1,141.0,1,3,1,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,1,1,1,9238,1,1,128.0,1,1,19,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,1,1,1,9238,1,1,118.0,1,1,19,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,1,44,1,9147,1,39,130.0,1,1,19,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,1,39,1,9670,1,1,110.0,1,1,37,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [7]:
train['Marital status']=train['Marital status'].replace({1:'single',
                                                         2: 'married',
                                                         3:'widower',
                                                         4:'divorced',
                                                         5:'facto union',
                                                         6:'legally separated'})
train['Marital status'].value_counts()

Marital status
single               70189
married               5296
divorced               866
facto union            116
legally separated       35
widower                 16
Name: count, dtype: int64

In [8]:
test['Marital status']=test['Marital status'].replace({1:'single',
                                                         2: 'married',
                                                         3:'widower',
                                                         4:'divorced',
                                                         5:'facto union',
                                                         6:'legally separated'})
test['Marital status'].value_counts()

Marital status
single               46929
married               3396
divorced               568
facto union             88
legally separated       17
widower                 14
Name: count, dtype: int64

In [9]:
train['Application mode']=train['Application mode'].replace({1 : '1st phase - general contingent',
                                                             2 : 'Ordinance No. 612/93' ,
                                                             5 :'1st phase - special contingent (Azores Island)',
                                                             7 :'Holders of other higher courses',
                                                             10 :'Ordinance No. 854-B/99', 
                                                             15 : 'International student (bachelor)', 
                                                             16 :'1st phase - special contingent (Madeira Island)', 
                                                             17 : '2nd phase - general contingent', 
                                                             18 :'3rd phase - general contingent', 
                                                             26 :'Ordinance No. 533-A/99, item b2) (Different Plan)', 
                                                             27 : 'Ordinance No. 533-A/99, item b3 (Other Institution)', 
                                                             39 :'Over 23 years old', 
                                                             42 :'Transfer', 
                                                             43 :'Change of course' ,
                                                             44 :'Technological specialization diploma holders', 
                                                             51 : 'Change of institution/course', 
                                                             53 :'Short cycle diploma holders', 
                                                             57 :'Change of institution/course (International)'})
train['Application mode'].value_counts()

Application mode
1st phase - general contingent                         35227
2nd phase - general contingent                         16523
Over 23 years old                                      14519
Technological specialization diploma holders            3012
Change of course                                        2671
Holders of other higher courses                         1498
3rd phase - general contingent                          1256
Transfer                                                 551
Change of institution/course                             442
1st phase - special contingent (Madeira Island)          265
Short cycle diploma holders                              225
International student (bachelor)                         183
1st phase - special contingent (Azores Island)            87
Ordinance No. 854-B/99                                    43
Ordinance No. 612/93                                       8
Ordinance No. 533-A/99, item b3 (Other Institution)        2
12                                                         1
Ordinance No. 533-A/99, item b2) (Different Plan)          1
4                                                          1
35                                                         1
9                                                          1
3                                                          1
Name: count, dtype: int64

In [10]:
test['Application mode']=test['Application mode'].replace({1 : '1st phase - general contingent',
                                                             2 : 'Ordinance No. 612/93' ,
                                                             5 :'1st phase - special contingent (Azores Island)',
                                                             7 :'Holders of other higher courses',
                                                             10 :'Ordinance No. 854-B/99', 
                                                             15 : 'International student (bachelor)', 
                                                             16 :'1st phase - special contingent (Madeira Island)', 
                                                             17 : '2nd phase - general contingent', 
                                                             18 :'3rd phase - general contingent', 
                                                             26 :'Ordinance No. 533-A/99, item b2) (Different Plan)', 
                                                             27 : 'Ordinance No. 533-A/99, item b3 (Other Institution)', 
                                                             39 :'Over 23 years old', 
                                                             42 :'Transfer', 
                                                             43 :'Change of course' ,
                                                             44 :'Technological specialization diploma holders', 
                                                             51 : 'Change of institution/course', 
                                                             53 :'Short cycle diploma holders', 
                                                             57 :'Change of institution/course (International)'})
test['Application mode'].value_counts()

Application mode
1st phase - general contingent                         23357
2nd phase - general contingent                         11207
Over 23 years old                                       9585
Technological specialization diploma holders            2000
Change of course                                        1850
Holders of other higher courses                         1011
3rd phase - general contingent                           788
Transfer                                                 347
Change of institution/course                             296
1st phase - special contingent (Madeira Island)          198
Short cycle diploma holders                              147
International student (bachelor)                         119
1st phase - special contingent (Azores Island)            79
Ordinance No. 854-B/99                                    20
Ordinance No. 612/93                                       3
14                                                         1
Ordinance No. 533-A/99, item b3 (Other Institution)        1
35                                                         1
19                                                         1
3                                                          1
Name: count, dtype: int64

In [11]:
train['Application order'].value_counts()

Application order
1    54381
2     8875
3     5364
4     3822
5     2125
6     1947
0        3
9        1
Name: count, dtype: int64

In [12]:
test['Application order'].value_counts()

Application order
1    36145
2     6102
3     3428
4     2600
5     1388
6     1343
9        5
0        1
Name: count, dtype: int64

In [13]:
train['Course']=train['Course'].replace({33 : 'Biofuel Production Technologies',
                                         171 : 'Animation and Multimedia Design',
                                         8014 : 'Social Service (evening attendance)',
                                         9003 : 'Agronomy',
                                         9070 : 'Communication Design',
                                         9085 : 'Veterinary Nursing',
                                         9119 : 'Informatics Engineering',
                                         9130 : 'Equinculture',
                                         9147 : 'Management',
                                         9238 : 'Social Service',
                                         9254 : 'Tourism',
                                         9500 : 'Nursing',
                                         9556 : 'Oral Hygiene',
                                         9670 : 'Advertising and Marketing Management',
                                         9773 : 'Journalism and Communication',
                                         9853 : 'Basic Education',
                                         9991 : 'Management (evening attendance)'})
train['Course'].value_counts()

Course
Nursing                                 12074
Journalism and Communication             8214
Social Service                           7935
Management                               7741
Tourism                                  5425
Veterinary Nursing                       5373
Advertising and Marketing Management     4760
Management (evening attendance)          4057
Agronomy                                 3733
Communication Design                     3281
Basic Education                          3198
Informatics Engineering                  3004
Animation and Multimedia Design          2859
Social Service (evening attendance)      2438
Equinculture                             1606
Oral Hygiene                              746
Biofuel Production Technologies            72
979                                         1
39                                          1
Name: count, dtype: int64

In [14]:
test['Course']=test['Course'].replace({33 : 'Biofuel Production Technologies',
                                         171 : 'Animation and Multimedia Design',
                                         8014 : 'Social Service (evening attendance)',
                                         9003 : 'Agronomy',
                                         9070 : 'Communication Design',
                                         9085 : 'Veterinary Nursing',
                                         9119 : 'Informatics Engineering',
                                         9130 : 'Equinculture',
                                         9147 : 'Management',
                                         9238 : 'Social Service',
                                         9254 : 'Tourism',
                                         9500 : 'Nursing',
                                         9556 : 'Oral Hygiene',
                                         9670 : 'Advertising and Marketing Management',
                                         9773 : 'Journalism and Communication',
                                         9853 : 'Basic Education',
                                         9991 : 'Management (evening attendance)'})
test['Course'].value_counts()

Course
Nursing                                 8140
Journalism and Communication            5610
Social Service                          5300
Management                              5042
Tourism                                 3651
Veterinary Nursing                      3511
Advertising and Marketing Management    3270
Management (evening attendance)         2647
Agronomy                                2535
Communication Design                    2267
Basic Education                         2105
Informatics Engineering                 1935
Animation and Multimedia Design         1792
Social Service (evening attendance)     1531
Equinculture                            1138
Oral Hygiene                             492
Biofuel Production Technologies           42
7500                                       1
9257                                       1
2105                                       1
4147                                       1
Name: count, dtype: int64

In [15]:
train['Daytime/evening attendance']=train['Daytime/evening attendance'].replace({1 :'daytime',
                                                                                 0 :'evening'})
train['Daytime/evening attendance'].value_counts()

Daytime/evening attendance
daytime    70038
evening     6480
Name: count, dtype: int64

In [16]:
test['Daytime/evening attendance']=test['Daytime/evening attendance'].replace({1 :'daytime',
                                                                                 0 :'evening'})
test['Daytime/evening attendance'].value_counts()

Daytime/evening attendance
daytime    46845
evening     4167
Name: count, dtype: int64

In [17]:
train['Previous qualification']=train['Previous qualification'].replace({1 :'Secondary education',
                                                                         2 :"Higher education - bachelor's degree",
                                                                         3 :'Higher education - degree',
                                                                         4 :"Higher education - master's",
                                                                         5 :"Higher education - doctorate",
                                                                         6 :"Frequency of higher education",
                                                                         9 :"12th year of schooling - not completed",
                                                                         10 :"11th year of schooling - not completed",
                                                                         12 :"Other - 11th year of schooling",
                                                                         14 :"10th year of schooling",
                                                                         15 :"10th year of schooling - not completed",
                                                                         19 :"Basic education 3rd cycle (9th/10th/11th year) or equiv.",
                                                                         38 :"Basic education 2nd cycle (6th/7th/8th year) or equiv.",
                                                                         39 :"Technological specialization course", 
                                                                         40 :"Higher education - degree (1st cycle)",
                                                                         42 :"Professional higher technical course",
                                                                         43 :"Higher education - master (2nd cycle)"})
train['Previous qualification'].value_counts()

Previous qualification
Secondary education                                         67183
Basic education 3rd cycle (9th/10th/11th year) or equiv.     2947
Technological specialization course                          2928
Higher education - degree                                    1401
Other - 11th year of schooling                                899
12th year of schooling - not completed                        308
Higher education - degree (1st cycle)                         259
Professional higher technical course                          229
Higher education - bachelor's degree                           98
Frequency of higher education                                  98
11th year of schooling - not completed                         43
Higher education - master (2nd cycle)                          39
Basic education 2nd cycle (6th/7th/8th year) or equiv.         38
Higher education - master's                                    23
10th year of schooling - not completed                         11
Higher education - doctorate                                    3
10th year of schooling                                          3
37                                                              3
11                                                              2
17                                                              2
36                                                              1
Name: count, dtype: int64

In [18]:
test['Previous qualification']=test['Previous qualification'].replace({1 :'Secondary education',
                                                                         2 :"Higher education - bachelor's degree",
                                                                         3 :'Higher education - degree',
                                                                         4 :"Higher education - master's",
                                                                         5 :"Higher education - doctorate",
                                                                         6 :"Frequency of higher education",
                                                                         9 :"12th year of schooling - not completed",
                                                                         10 :"11th year of schooling - not completed",
                                                                         12 :"Other - 11th year of schooling",
                                                                         14 :"10th year of schooling",
                                                                         15 :"10th year of schooling - not completed",
                                                                         19 :"Basic education 3rd cycle (9th/10th/11th year) or equiv.",
                                                                         38 :"Basic education 2nd cycle (6th/7th/8th year) or equiv.",
                                                                         39 :"Technological specialization course", 
                                                                         40 :"Higher education - degree (1st cycle)",
                                                                         42 :"Professional higher technical course",
                                                                         43 :"Higher education - master (2nd cycle)"})
test['Previous qualification'].value_counts()

Previous qualification
Secondary education                                         44823
Basic education 3rd cycle (9th/10th/11th year) or equiv.     1983
Technological specialization course                          1927
Higher education - degree                                     939
Other - 11th year of schooling                                583
12th year of schooling - not completed                        200
Higher education - degree (1st cycle)                         170
Professional higher technical course                          151
Higher education - bachelor's degree                           67
Frequency of higher education                                  58
Basic education 2nd cycle (6th/7th/8th year) or equiv.         27
11th year of schooling - not completed                         26
Higher education - master (2nd cycle)                          22
Higher education - master's                                    19
10th year of schooling - not completed                          9
10th year of schooling                                          3
Higher education - doctorate                                    2
17                                                              1
11                                                              1
16                                                              1
Name: count, dtype: int64

In [19]:
train['Previous qualification (grade)'].describe()

count    76518.000000
mean       132.378766
std         10.995328
min         95.000000
25%        125.000000
50%        133.100000
75%        140.000000
max        190.000000
Name: Previous qualification (grade), dtype: float64

In [20]:
test['Previous qualification (grade)'].describe()

count    51012.000000
mean       132.328001
std         10.885679
min         95.000000
25%        125.000000
50%        133.100000
75%        139.000000
max        190.000000
Name: Previous qualification (grade), dtype: float64

In [21]:
train['Nacionality']=train['Nacionality'].replace({1 : 'Portuguese',
                                                   2 : 'German',
                                                   6 : 'Spanish',
                                                   11 : 'Italian',
                                                   13 : 'Dutch',
                                                   14 : 'English',
                                                   17 : 'Lithuanian',
                                                   21 : 'Angolan',
                                                   22 : 'Cape Verdean',
                                                   24 : 'Guinean',
                                                   25 : 'Mozambican',
                                                   26 : 'Santomean',
                                                   32 : 'Turkish',
                                                   41 : 'Brazilian',
                                                   62 : 'Romanian',
                                                   100 : 'Moldova (Republic of)',
                                                   101 : 'Mexican',
                                                   103 : 'Ukrainian',
                                                   105 : 'Russian',
                                                   108 : 'Cuban',
                                                   109 : 'Colombian'})
train['Nacionality'].value_counts()

Nacionality
Portuguese               76013
Brazilian                  221
Santomean                   67
Spanish                     56
Cape Verdean                56
Guinean                     15
Italian                     15
German                      13
Ukrainian                   12
Russian                      9
Mexican                      9
Moldova (Republic of)        9
Angolan                      6
Mozambican                   6
Romanian                     6
Lithuanian                   2
Colombian                    2
Turkish                      1
Name: count, dtype: int64

In [22]:
test['Nacionality']=test['Nacionality'].replace({1 : 'Portuguese',
                                                   2 : 'German',
                                                   6 : 'Spanish',
                                                   11 : 'Italian',
                                                   13 : 'Dutch',
                                                   14 : 'English',
                                                   17 : 'Lithuanian',
                                                   21 : 'Angolan',
                                                   22 : 'Cape Verdean',
                                                   24 : 'Guinean',
                                                   25 : 'Mozambican',
                                                   26 : 'Santomean',
                                                   32 : 'Turkish',
                                                   41 : 'Brazilian',
                                                   62 : 'Romanian',
                                                   100 : 'Moldova (Republic of)',
                                                   101 : 'Mexican',
                                                   103 : 'Ukrainian',
                                                   105 : 'Russian',
                                                   108 : 'Cuban',
                                                   109 : 'Colombian'})
test['Nacionality'].value_counts()

Nacionality
Portuguese               50719
Brazilian                  106
Santomean                   37
Cape Verdean                36
Spanish                     33
Guinean                     13
Romanian                    11
Italian                      9
Moldova (Republic of)        8
German                       8
Mozambican                   7
Ukrainian                    7
Russian                      7
Angolan                      3
Mexican                      3
Turkish                      2
Colombian                    2
English                      1
Name: count, dtype: int64

In [23]:
train = train.rename({'Nacionality': 'Nationality'}, axis='columns')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  object
 1   Application mode                                76518 non-null  object
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  object
 4   Daytime/evening attendance                      76518 non-null  object
 5   Previous qualification                          76518 non-null  object
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nationality                                     76518 non-null  object
 8   Mother's qualification                          76518 non-null  int64
 9   Father's qualification                          76518 non-null  int64
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  float64
 13  Displaced                                       76518 non-null  int64
 14  Educational special needs                       76518 non-null  int64
 15  Debtor                                          76518 non-null  int64
 16  Tuition fees up to date                         76518 non-null  int64
 17  Gender                                          76518 non-null  int64
 18  Scholarship holder                              76518 non-null  int64
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  int64
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  object
dtypes: float64(7), int64(23), object(7)
memory usage: 21.6+ MB

In [24]:
test = test.rename({'Nacionality': 'Nationality'}, axis='columns')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51012 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51012 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51012 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  int64
 9   Father's qualification                          51012 non-null  int64
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  float64
 13  Displaced                                       51012 non-null  int64
 14  Educational special needs                       51012 non-null  int64
 15  Debtor                                          51012 non-null  int64
 16  Tuition fees up to date                         51012 non-null  int64
 17  Gender                                          51012 non-null  int64
 18  Scholarship holder                              51012 non-null  int64
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  int64
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(7), int64(23), object(6)
memory usage: 14.0+ MB

In [25]:
train["Mother's qualification"]=train["Mother's qualification"].replace({1 :"Secondary Education - 12th Year of Schooling or Eq.",
                                                                         2 :"Higher Education - Bachelor's Degree",
                                                                         3 :"Higher Education - Degree",
                                                                         4 :"Higher Education - Master's",
                                                                         5 :"Higher Education - Doctorate",
                                                                         6 :"Frequency of Higher Education", 
                                                                         9 :"12th Year of Schooling - Not Completed",
                                                                         10 :"11th Year of Schooling - Not Completed",
                                                                         11 :"7th Year (Old)",
                                                                         12 :"Other - 11th Year of Schooling",
                                                                         14 :"10th Year of Schooling",
                                                                         18 :"General commerce course",
                                                                         19 :"Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.", 
                                                                         22 :"Technical-professional course", 
                                                                         26 : "7th year of schooling", 
                                                                         27 :"2nd cycle of the general high school course",
                                                                         29 :"9th Year of Schooling - Not Completed",
                                                                         30 :"8th year of schooling",
                                                                         34 :"Unknown",
                                                                         35 :"Can't read or write" ,
                                                                         36 : "Can read without having a 4th year of schooling", 
                                                                         37 :"Basic education 1st cycle (4th/5th year) or equiv.",
                                                                         38 : "Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv." ,
                                                                         39 :"Technological specialization course" ,
                                                                         40 :"Higher education - degree (1st cycle)",
                                                                         41 : "Specialized higher studies course" ,
                                                                         42 : "Professional higher technical course" ,
                                                                         43 : "Higher Education - Master (2nd cycle)" ,
                                                                         44 : "Higher Education - Doctorate (3rd cycle)"})
train["Mother's qualification"].value_counts()

Mother's qualification
Secondary Education - 12th Year of Schooling or Eq.         20202
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    18980
Basic education 1st cycle (4th/5th year) or equiv.          18664
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       9059
Higher Education - Degree                                    5890
Unknown                                                      1993
Higher Education - Bachelor's Degree                          613
Other - 11th Year of Schooling                                358
Higher Education - Master's                                   313
Higher Education - Doctorate                                   99
Higher education - degree (1st cycle)                          49
Technological specialization course                            46
12th Year of Schooling - Not Completed                         45
7th Year (Old)                                                 32
Specialized higher studies course                              26
Frequency of Higher Education                                  21
Professional higher technical course                           19
Higher Education - Master (2nd cycle)                          16
11th Year of Schooling - Not Completed                         15
Can read without having a 4th year of schooling                15
9th Year of Schooling - Not Completed                          15
Can't read or write                                            10
8th year of schooling                                          10
Technical-professional course                                   5
10th Year of Schooling                                          5
7th year of schooling                                           4
General commerce course                                         3
Higher Education - Doctorate (3rd cycle)                        2
33                                                              2
31                                                              2
15                                                              1
7                                                               1
8                                                               1
28                                                              1
2nd cycle of the general high school course                     1
Name: count, dtype: int64

In [26]:
test["Mother's qualification"]=test["Mother's qualification"].replace({1 :"Secondary Education - 12th Year of Schooling or Eq.",
                                                                         2 :"Higher Education - Bachelor's Degree",
                                                                         3 :"Higher Education - Degree",
                                                                         4 :"Higher Education - Master's",
                                                                         5 :"Higher Education - Doctorate",
                                                                         6 :"Frequency of Higher Education", 
                                                                         9 :"12th Year of Schooling - Not Completed",
                                                                         10 :"11th Year of Schooling - Not Completed",
                                                                         11 :"7th Year (Old)",
                                                                         12 :"Other - 11th Year of Schooling",
                                                                         14 :"10th Year of Schooling",
                                                                         18 :"General commerce course",
                                                                         19 :"Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.", 
                                                                         22 :"Technical-professional course", 
                                                                         26 : "7th year of schooling", 
                                                                         27 :"2nd cycle of the general high school course",
                                                                         29 :"9th Year of Schooling - Not Completed",
                                                                         30 :"8th year of schooling",
                                                                         34 :"Unknown",
                                                                         35 :"Can't read or write" ,
                                                                         36 : "Can read without having a 4th year of schooling", 
                                                                         37 :"Basic education 1st cycle (4th/5th year) or equiv.",
                                                                         38 : "Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv." ,
                                                                         39 :"Technological specialization course" ,
                                                                         40 :"Higher education - degree (1st cycle)",
                                                                         41 : "Specialized higher studies course" ,
                                                                         42 : "Professional higher technical course" ,
                                                                         43 : "Higher Education - Master (2nd cycle)" ,
                                                                         44 : "Higher Education - Doctorate (3rd cycle)"})
test["Mother's qualification"].value_counts()

Mother's qualification
Secondary Education - 12th Year of Schooling or Eq.         13313
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    12719
Basic education 1st cycle (4th/5th year) or equiv.          12513
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       6068
Higher Education - Degree                                    3918
Unknown                                                      1310
Higher Education - Bachelor's Degree                          434
Other - 11th Year of Schooling                                241
Higher Education - Master's                                   219
Higher Education - Doctorate                                   59
12th Year of Schooling - Not Completed                         36
Higher education - degree (1st cycle)                          31
Technological specialization course                            29
Specialized higher studies course                              18
Frequency of Higher Education                                  16
Professional higher technical course                           12
Higher Education - Master (2nd cycle)                          11
7th Year (Old)                                                  9
9th Year of Schooling - Not Completed                           9
Technical-professional course                                   7
8th year of schooling                                           7
11th Year of Schooling - Not Completed                          6
Can't read or write                                             5
Can read without having a 4th year of schooling                 4
General commerce course                                         4
10th Year of Schooling                                          3
Higher Education - Doctorate (3rd cycle)                        3
25                                                              2
13                                                              2
31                                                              2
33                                                              1
7th year of schooling                                           1
Name: count, dtype: int64

In [27]:
train["Father's qualification"]=train["Father's qualification"].replace({1 :"Secondary Education - 12th Year of Schooling or Eq.",
                                                                         2 :"Higher Education - Bachelor's Degree",
                                                                         3 :"Higher Education - Degree",
                                                                         4 : "Higher Education - Master's",
                                                                         5 : "Higher Education - Doctorate" ,
                                                                         6 : "Frequency of Higher Education",
                                                                         9 :"12th Year of Schooling - Not Completed",
                                                                         10 : "11th Year of Schooling - Not Completed",
                                                                         11 : "7th Year (Old)",
                                                                         12 : "Other - 11th Year of Schooling",
                                                                         13 : "2nd year complementary high school course",
                                                                         14 : "10th Year of Schooling",
                                                                         18 : "General commerce course",
                                                                         19 : "Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.",
                                                                         20 : "Complementary High School Course",
                                                                         22 : "Technical-professional course",
                                                                         25 : "Complementary High School Course - not concluded",
                                                                         26 : "7th year of schooling",
                                                                         27 : "2nd cycle of the general high school course",
                                                                         29 : "9th Year of Schooling - Not Completed",
                                                                         30 : "8th year of schooling",
                                                                         31 : "General Course of Administration and Commerce",
                                                                         33 : "Supplementary Accounting and Administration",
                                                                         34 : "Unknown",
                                                                         35 : "Can't read or write",
                                                                         36 : "Can read without having a 4th year of schooling",
                                                                         37 : "Basic education 1st cycle (4th/5th year) or equiv.",
                                                                         38 : "Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.",
                                                                         39 : "Technological specialization course",
                                                                         40 : "Higher education - degree (1st cycle)",
                                                                         41 : "Specialized higher studies course",
                                                                         42 : "Professional higher technical course",
                                                                         43 : "Higher Education - Master (2nd cycle)",
                                                                         44 : "Higher Education - Doctorate (3rd cycle)"})
train["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          23290
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    19015
Secondary Education - 12th Year of Schooling or Eq.         15604
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.      12253
Higher Education - Degree                                    3011
Unknown                                                      1790
Higher Education - Bachelor's Degree                          496
Other - 11th Year of Schooling                                294
Higher Education - Master's                                   224
Technological specialization course                           120
Higher Education - Doctorate                                  100
7th Year (Old)                                                 75
Can read without having a 4th year of schooling                43
9th Year of Schooling - Not Completed                          25
Higher education - degree (1st cycle)                          25
12th Year of Schooling - Not Completed                         19
10th Year of Schooling                                         18
Higher Education - Master (2nd cycle)                          14
8th year of schooling                                          14
Specialized higher studies course                              13
Technical-professional course                                  11
11th Year of Schooling - Not Completed                         10
Frequency of Higher Education                                   9
7th year of schooling                                           9
Professional higher technical course                            7
Can't read or write                                             5
General commerce course                                         4
2nd year complementary high school course                       3
Higher Education - Doctorate (3rd cycle)                        3
Complementary High School Course                                3
2nd cycle of the general high school course                     2
7                                                               2
Supplementary Accounting and Administration                     1
General Course of Administration and Commerce                   1
21                                                              1
23                                                              1
15                                                              1
24                                                              1
Complementary High School Course - not concluded                1
Name: count, dtype: int64

In [28]:
test["Father's qualification"]=test["Father's qualification"].replace({1 :"Secondary Education - 12th Year of Schooling or Eq.",
                                                                         2 :"Higher Education - Bachelor's Degree",
                                                                         3 :"Higher Education - Degree",
                                                                         4 : "Higher Education - Master's",
                                                                         5 : "Higher Education - Doctorate" ,
                                                                         6 : "Frequency of Higher Education",
                                                                         9 :"12th Year of Schooling - Not Completed",
                                                                         10 : "11th Year of Schooling - Not Completed",
                                                                         11 : "7th Year (Old)",
                                                                         12 : "Other - 11th Year of Schooling",
                                                                         13 : "2nd year complementary high school course",
                                                                         14 : "10th Year of Schooling",
                                                                         18 : "General commerce course",
                                                                         19 : "Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.",
                                                                         20 : "Complementary High School Course",
                                                                         22 : "Technical-professional course",
                                                                         25 : "Complementary High School Course - not concluded",
                                                                         26 : "7th year of schooling",
                                                                         27 : "2nd cycle of the general high school course",
                                                                         29 : "9th Year of Schooling - Not Completed",
                                                                         30 : "8th year of schooling",
                                                                         31 : "General Course of Administration and Commerce",
                                                                         33 : "Supplementary Accounting and Administration",
                                                                         34 : "Unknown",
                                                                         35 : "Can't read or write",
                                                                         36 : "Can read without having a 4th year of schooling",
                                                                         37 : "Basic education 1st cycle (4th/5th year) or equiv.",
                                                                         38 : "Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.",
                                                                         39 : "Technological specialization course",
                                                                         40 : "Higher education - degree (1st cycle)",
                                                                         41 : "Specialized higher studies course",
                                                                         42 : "Professional higher technical course",
                                                                         43 : "Higher Education - Master (2nd cycle)",
                                                                         44 : "Higher Education - Doctorate (3rd cycle)"})
test["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          15536
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    12736
Secondary Education - 12th Year of Schooling or Eq.         10197
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       8302
Higher Education - Degree                                    2024
Unknown                                                      1160
Higher Education - Bachelor's Degree                          342
Other - 11th Year of Schooling                                189
Higher Education - Master's                                   148
Technological specialization course                            91
Higher Education - Doctorate                                   61
7th Year (Old)                                                 39
Can read without having a 4th year of schooling                28
Higher education - degree (1st cycle)                          19
8th year of schooling                                          17
12th Year of Schooling - Not Completed                         16
Technical-professional course                                  16
9th Year of Schooling - Not Completed                          16
Frequency of Higher Education                                  15
11th Year of Schooling - Not Completed                         11
10th Year of Schooling                                         11
7th year of schooling                                           6
Higher Education - Master (2nd cycle)                           5
Specialized higher studies course                               5
Can't read or write                                             4
2nd cycle of the general high school course                     3
Supplementary Accounting and Administration                     3
General commerce course                                         2
General Course of Administration and Commerce                   2
Complementary High School Course - not concluded                2
16                                                              1
21                                                              1
28                                                              1
7                                                               1
Professional higher technical course                            1
2nd year complementary high school course                       1
Name: count, dtype: int64

In [29]:
train['Admission grade'].describe()

count    76518.000000
mean       125.363971
std         12.562328
min         95.000000
25%        118.000000
50%        124.600000
75%        132.000000
max        190.000000
Name: Admission grade, dtype: float64

In [30]:
test['Admission grade'].describe()

count    51012.000000
mean       125.419794
std         12.598137
min         95.000000
25%        118.000000
50%        124.600000
75%        132.000000
max        190.000000
Name: Admission grade, dtype: float64

In [31]:
train['Admission grade']=train['Admission grade'].astype('int')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  object
 1   Application mode                                76518 non-null  object
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  object
 4   Daytime/evening attendance                      76518 non-null  object
 5   Previous qualification                          76518 non-null  object
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nationality                                     76518 non-null  object
 8   Mother's qualification                          76518 non-null  object
 9   Father's qualification                          76518 non-null  object
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  int64
 13  Displaced                                       76518 non-null  int64
 14  Educational special needs                       76518 non-null  int64
 15  Debtor                                          76518 non-null  int64
 16  Tuition fees up to date                         76518 non-null  int64
 17  Gender                                          76518 non-null  int64
 18  Scholarship holder                              76518 non-null  int64
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  int64
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  object
dtypes: float64(6), int64(22), object(9)
memory usage: 21.6+ MB

In [32]:
test['Admission grade']=test['Admission grade'].astype('int')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51012 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51012 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51012 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  int64
 14  Educational special needs                       51012 non-null  int64
 15  Debtor                                          51012 non-null  int64
 16  Tuition fees up to date                         51012 non-null  int64
 17  Gender                                          51012 non-null  int64
 18  Scholarship holder                              51012 non-null  int64
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  int64
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(22), object(8)
memory usage: 14.0+ MB

In [33]:
train["Displaced"]=train["Displaced"].replace({1 : 'yes',
                                               0 : 'no'})
train["Displaced"].value_counts()

Displaced
yes    43559
no     32959
Name: count, dtype: int64

In [34]:
test["Displaced"]=test["Displaced"].replace({1 : 'yes',
                                               0 : 'no'})
test["Displaced"].value_counts()

Displaced
yes    29052
no     21960
Name: count, dtype: int64

In [35]:
train["Educational special needs"]=train["Educational special needs"].replace({1 : 'yes',
                                               0 : 'no'})
train["Educational special needs"].value_counts()

Educational special needs
no     76232
yes      286
Name: count, dtype: int64

In [36]:
test["Educational special needs"]=test["Educational special needs"].replace({1 : 'yes',
                                               0 : 'no'})
test["Educational special needs"].value_counts()

Educational special needs
no     50801
yes      211
Name: count, dtype: int64

In [37]:
train["Debtor"]=train["Debtor"].replace({1 : 'yes',
                                               0 : 'no'})
train["Debtor"].value_counts()

Debtor
no     71056
yes     5462
Name: count, dtype: int64

In [38]:
test["Debtor"]=test["Debtor"].replace({1 : 'yes',
                                               0 : 'no'})
test["Debtor"].value_counts()

Debtor
no     47553
yes     3459
Name: count, dtype: int64

In [39]:
train["Tuition fees up to date"]=train["Tuition fees up to date"].replace({1 : 'yes',
                                               0 : 'no'})
train["Tuition fees up to date"].value_counts()

Tuition fees up to date
yes    68380
no      8138
Name: count, dtype: int64

In [40]:
test["Tuition fees up to date"]=test["Tuition fees up to date"].replace({1 : 'yes',
                                               0 : 'no'})
test["Tuition fees up to date"].value_counts()

Tuition fees up to date
yes    45664
no      5348
Name: count, dtype: int64

In [41]:
train["Gender"]=train["Gender"].replace({1 : 'male',
                                         0 : 'female'})
train["Gender"].value_counts()

Gender
female    52352
male      24166
Name: count, dtype: int64

In [42]:
test["Gender"]=test["Gender"].replace({1 : 'male',
                                       0 : 'female'})
test["Gender"].value_counts()

Gender
female    35049
male      15963
Name: count, dtype: int64

In [43]:
train["Scholarship holder"]=train["Scholarship holder"].replace({1 : 'yes',
                                         0 : 'no'})
train["Scholarship holder"].value_counts()

Scholarship holder
no     57588
yes    18930
Name: count, dtype: int64

In [44]:
test["Scholarship holder"]=test["Scholarship holder"].replace({1 : 'yes',
                                         0 : 'no'})
test["Scholarship holder"].value_counts()

Scholarship holder
no     38581
yes    12431
Name: count, dtype: int64

In [45]:
train['Age at enrollment'].describe()

count    76518.000000
mean        22.278653
std          6.889241
min         17.000000
25%         18.000000
50%         19.000000
75%         23.000000
max         70.000000
Name: Age at enrollment, dtype: float64

In [46]:
test['Age at enrollment'].describe()

count    51012.000000
mean        22.206971
std          6.760468
min         17.000000
25%         18.000000
50%         19.000000
75%         23.000000
max         70.000000
Name: Age at enrollment, dtype: float64

In [47]:
train['Age at enrollment']=train['Age at enrollment'].astype('int')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  object
 1   Application mode                                76518 non-null  object
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  object
 4   Daytime/evening attendance                      76518 non-null  object
 5   Previous qualification                          76518 non-null  object
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nationality                                     76518 non-null  object
 8   Mother's qualification                          76518 non-null  object
 9   Father's qualification                          76518 non-null  object
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  int64
 13  Displaced                                       76518 non-null  object
 14  Educational special needs                       76518 non-null  object
 15  Debtor                                          76518 non-null  object
 16  Tuition fees up to date                         76518 non-null  object
 17  Gender                                          76518 non-null  object
 18  Scholarship holder                              76518 non-null  object
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  int64
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  object
dtypes: float64(6), int64(16), object(15)
memory usage: 21.6+ MB

In [48]:
test['Age at enrollment']=test['Age at enrollment'].astype('int')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51012 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51012 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51012 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  int64
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(16), object(14)
memory usage: 14.0+ MB

In [49]:
train["International"]=train["International"].replace({1 : 'yes',
                                                       0 : 'no'})
train["International"].value_counts()

International
no     76011
yes      507
Name: count, dtype: int64

In [50]:
test["International"]=test["International"].replace({1 : 'yes',
                                                     0 : 'no'})
test["International"].value_counts()

International
no     50717
yes      295
Name: count, dtype: int64

In [51]:
train['Curricular units 1st sem (credited)'].describe()

count    76518.000000
mean         0.188871
std          1.175296
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         20.000000
Name: Curricular units 1st sem (credited), dtype: float64

In [52]:
test['Curricular units 1st sem (credited)'].describe()

count    51012.000000
mean         0.182055
std          1.145390
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         20.000000
Name: Curricular units 1st sem (credited), dtype: float64

In [53]:
train['Curricular units 1st sem (enrolled)'].describe()

count    76518.000000
mean         5.891516
std          1.671776
min          0.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         26.000000
Name: Curricular units 1st sem (enrolled), dtype: float64

In [54]:
test['Curricular units 1st sem (enrolled)'].describe()

count    51012.000000
mean         5.903376
std          1.639316
min          0.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         23.000000
Name: Curricular units 1st sem (enrolled), dtype: float64

In [55]:
train['Curricular units 1st sem (evaluations)'].describe()

count    76518.000000
mean         7.352362
std          3.508292
min          0.000000
25%          6.000000
50%          7.000000
75%          9.000000
max         45.000000
Name: Curricular units 1st sem (evaluations), dtype: float64

In [56]:
test['Curricular units 1st sem (evaluations)'].describe()

count    51012.000000
mean         7.392417
std          3.458179
min          0.000000
25%          6.000000
50%          7.000000
75%          9.000000
max         45.000000
Name: Curricular units 1st sem (evaluations), dtype: float64

In [57]:
train['Curricular units 1st sem (approved)'].describe()

count    76518.000000
mean         4.178520
std          2.687995
min          0.000000
25%          2.000000
50%          5.000000
75%          6.000000
max         26.000000
Name: Curricular units 1st sem (approved), dtype: float64

In [58]:
test['Curricular units 1st sem (approved)'].describe()

count    51012.000000
mean         4.217655
std          2.666393
min          0.000000
25%          2.000000
50%          5.000000
75%          6.000000
max         23.000000
Name: Curricular units 1st sem (approved), dtype: float64

In [59]:
train['Curricular units 1st sem (grade)'].describe()

count    76518.000000
mean         9.995862
std          5.264224
min          0.000000
25%         10.666667
50%         12.166667
75%         13.314286
max         18.875000
Name: Curricular units 1st sem (grade), dtype: float64

In [60]:
test['Curricular units 1st sem (grade)'].describe()

count    51012.000000
mean        10.088485
std          5.215587
min          0.000000
25%         10.750000
50%         12.200000
75%         13.333333
max         18.875000
Name: Curricular units 1st sem (grade), dtype: float64

In [61]:
train['Curricular units 1st sem (without evaluations)'].describe()

count    76518.00000
mean         0.05796
std          0.40849
min          0.00000
25%          0.00000
50%          0.00000
75%          0.00000
max         12.00000
Name: Curricular units 1st sem (without evaluations), dtype: float64

In [62]:
test['Curricular units 1st sem (without evaluations)'].describe()

count    51012.000000
mean         0.057810
std          0.403434
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         12.000000
Name: Curricular units 1st sem (without evaluations), dtype: float64

In [63]:
train['Curricular units 2nd sem (credited)'].describe()

count    76518.000000
mean         0.137053
std          0.933830
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         19.000000
Name: Curricular units 2nd sem (credited), dtype: float64

In [64]:
test['Curricular units 2nd sem (credited)'].describe()

count    51012.000000
mean         0.129283
std          0.877250
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         19.000000
Name: Curricular units 2nd sem (credited), dtype: float64

In [65]:
train['Curricular units 2nd sem (enrolled)'].describe()

count    76518.000000
mean         5.933414
std          1.627182
min          0.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         23.000000
Name: Curricular units 2nd sem (enrolled), dtype: float64

In [66]:
test['Curricular units 2nd sem (enrolled)'].describe()

count    51012.000000
mean         5.944131
std          1.599746
min          0.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         23.000000
Name: Curricular units 2nd sem (enrolled), dtype: float64

In [67]:
train['Curricular units 2nd sem (evaluations)'].describe()

count    76518.000000
mean         7.234468
std          3.503040
min          0.000000
25%          6.000000
50%          7.000000
75%          9.000000
max         33.000000
Name: Curricular units 2nd sem (evaluations), dtype: float64

In [68]:
test['Curricular units 2nd sem (evaluations)'].describe()

count    51012.000000
mean         7.274092
std          3.433149
min          0.000000
25%          6.000000
50%          8.000000
75%          9.000000
max         33.000000
Name: Curricular units 2nd sem (evaluations), dtype: float64

In [69]:
train['Curricular units 2nd sem (approved)'].describe()

count    76518.000000
mean         4.007201
std          2.772956
min          0.000000
25%          1.000000
50%          5.000000
75%          6.000000
max         20.000000
Name: Curricular units 2nd sem (approved), dtype: float64

In [70]:
test['Curricular units 2nd sem (approved)'].describe()

count    51012.000000
mean         4.039697
std          2.749871
min          0.000000
25%          1.000000
50%          5.000000
75%          6.000000
max         20.000000
Name: Curricular units 2nd sem (approved), dtype: float64

In [71]:
train['Curricular units 2nd sem (grade)'].describe()

count    76518.000000
mean         9.626085
std          5.546035
min          0.000000
25%         10.000000
50%         12.142857
75%         13.244048
max         18.000000
Name: Curricular units 2nd sem (grade), dtype: float64

In [72]:
test['Curricular units 2nd sem (grade)'].describe()

count    51012.000000
mean         9.709128
std          5.496810
min          0.000000
25%         10.000000
50%         12.166667
75%         13.250000
max         17.714286
Name: Curricular units 2nd sem (grade), dtype: float64

In [73]:
train['Curricular units 2nd sem (without evaluations)'].describe()

count    76518.000000
mean         0.062443
std          0.462107
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         12.000000
Name: Curricular units 2nd sem (without evaluations), dtype: float64

In [74]:
test['Curricular units 2nd sem (without evaluations)'].describe()

count    51012.000000
mean         0.063809
std          0.467176
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         10.000000
Name: Curricular units 2nd sem (without evaluations), dtype: float64

In [75]:
train['Unemployment rate'].describe()

count    76518.000000
mean        11.520340
std          2.653375
min          7.600000
25%          9.400000
50%         11.100000
75%         12.700000
max         16.200000
Name: Unemployment rate, dtype: float64

In [76]:
test['Unemployment rate'].describe()

count    51012.000000
mean        11.520611
std          2.651113
min          7.600000
25%          9.400000
50%         11.100000
75%         12.700000
max         16.200000
Name: Unemployment rate, dtype: float64

In [77]:
train['Inflation rate'].describe()

count    76518.000000
mean         1.228218
std          1.398816
min         -0.800000
25%          0.300000
50%          1.400000
75%          2.600000
max          3.700000
Name: Inflation rate, dtype: float64

In [78]:
test['Inflation rate'].describe()

count    51012.000000
mean         1.228719
std          1.402773
min         -0.800000
25%          0.300000
50%          1.400000
75%          2.600000
max          3.700000
Name: Inflation rate, dtype: float64

In [79]:
train['GDP'].describe()

count    76518.000000
mean        -0.080921
std          2.251382
min         -4.060000
25%         -1.700000
50%          0.320000
75%          1.790000
max          3.510000
Name: GDP, dtype: float64

In [80]:
test['GDP'].describe()

count    51012.000000
mean        -0.086477
std          2.251650
min         -4.060000
25%         -1.700000
50%          0.320000
75%          1.790000
max          3.510000
Name: GDP, dtype: float64

In [81]:
round(train['Target'].value_counts()*100/len(train),2)

Target
Graduate    47.42
Dropout     33.06
Enrolled    19.52
Name: count, dtype: float64

In [82]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Application mode need to be worked on
Course need to be worked on
Previous qualification need to be worked on
Nationality need to be worked on
Mother's qualification need to be worked on
Father's qualification need to be worked on

In [83]:
list(set(train['Application mode'].unique().tolist())^set(test['Application mode'].unique().tolist()))

[4, 9, 12, 14, 19, 'Ordinance No. 533-A/99, item b2) (Different Plan)']

In [84]:
import numpy as np
train['Application mode']=train['Application mode'].replace({12:np.NaN,
                                                           4:np.NaN,
                                                            35:np.NaN,
                                                            9:np.NaN,
                                                            3:np.NaN}
                                                           )
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  object
 1   Application mode                                76513 non-null  object
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  object
 4   Daytime/evening attendance                      76518 non-null  object
 5   Previous qualification                          76518 non-null  object
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nationality                                     76518 non-null  object
 8   Mother's qualification                          76518 non-null  object
 9   Father's qualification                          76518 non-null  object
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  int64
 13  Displaced                                       76518 non-null  object
 14  Educational special needs                       76518 non-null  object
 15  Debtor                                          76518 non-null  object
 16  Tuition fees up to date                         76518 non-null  object
 17  Gender                                          76518 non-null  object
 18  Scholarship holder                              76518 non-null  object
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  object
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 21.6+ MB

In [85]:
test['Application mode']=test['Application mode'].replace({14:np.NaN,
                                                           35:np.NaN,
                                                            19:np.NaN,
                                                            3:np.NaN}
                                                           )
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51008 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51012 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51012 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [86]:
list(set(train['Application mode'].unique().tolist())^set(test['Application mode'].unique().tolist()))

['Ordinance No. 533-A/99, item b2) (Different Plan)']

In [87]:
train[train['Application mode']=='Ordinance No. 533-A/99, item b2) (Different Plan)'].head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
18554,single,"Ordinance No. 533-A/99, item b2) (Different Plan)",1,Social Service (evening attendance),evening,Secondary education,130.0,Portuguese,Unknown,Unknown,...,6,11,17,10,12.8,0,7.6,2.6,0.32,Graduate

In [88]:
train=train[train['Application mode']!='Ordinance No. 533-A/99, item b2) (Different Plan)']
list(set(train['Application mode'].unique().tolist())^set(test['Application mode'].unique().tolist()))

[]

In [89]:
train['Application mode'].value_counts()

Application mode
1st phase - general contingent                         35227
2nd phase - general contingent                         16523
Over 23 years old                                      14519
Technological specialization diploma holders            3012
Change of course                                        2671
Holders of other higher courses                         1498
3rd phase - general contingent                          1256
Transfer                                                 551
Change of institution/course                             442
1st phase - special contingent (Madeira Island)          265
Short cycle diploma holders                              225
International student (bachelor)                         183
1st phase - special contingent (Azores Island)            87
Ordinance No. 854-B/99                                    43
Ordinance No. 612/93                                       8
Ordinance No. 533-A/99, item b3 (Other Institution)        2
Name: count, dtype: int64

In [90]:
test['Application mode'].value_counts()

Application mode
1st phase - general contingent                         23357
2nd phase - general contingent                         11207
Over 23 years old                                       9585
Technological specialization diploma holders            2000
Change of course                                        1850
Holders of other higher courses                         1011
3rd phase - general contingent                           788
Transfer                                                 347
Change of institution/course                             296
1st phase - special contingent (Madeira Island)          198
Short cycle diploma holders                              147
International student (bachelor)                         119
1st phase - special contingent (Azores Island)            79
Ordinance No. 854-B/99                                    20
Ordinance No. 612/93                                       3
Ordinance No. 533-A/99, item b3 (Other Institution)        1
Name: count, dtype: int64

In [91]:
train['Application mode']=train['Application mode'].replace({'Ordinance No. 533-A/99, item b3 (Other Institution)':'1st phase - general contingent'})
train['Application mode'].value_counts()

Application mode
1st phase - general contingent                     35229
2nd phase - general contingent                     16523
Over 23 years old                                  14519
Technological specialization diploma holders        3012
Change of course                                    2671
Holders of other higher courses                     1498
3rd phase - general contingent                      1256
Transfer                                             551
Change of institution/course                         442
1st phase - special contingent (Madeira Island)      265
Short cycle diploma holders                          225
International student (bachelor)                     183
1st phase - special contingent (Azores Island)        87
Ordinance No. 854-B/99                                43
Ordinance No. 612/93                                   8
Name: count, dtype: int64

In [92]:
test['Application mode']=test['Application mode'].replace({'Ordinance No. 533-A/99, item b3 (Other Institution)':np.NAN})
test['Application mode'].value_counts()

Application mode
1st phase - general contingent                     23357
2nd phase - general contingent                     11207
Over 23 years old                                   9585
Technological specialization diploma holders        2000
Change of course                                    1850
Holders of other higher courses                     1011
3rd phase - general contingent                       788
Transfer                                             347
Change of institution/course                         296
1st phase - special contingent (Madeira Island)      198
Short cycle diploma holders                          147
International student (bachelor)                     119
1st phase - special contingent (Azores Island)        79
Ordinance No. 854-B/99                                20
Ordinance No. 612/93                                   3
Name: count, dtype: int64

In [93]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Course need to be worked on
Previous qualification need to be worked on
Nationality need to be worked on
Mother's qualification need to be worked on
Father's qualification need to be worked on

In [94]:
list(set(train['Course'].unique().tolist())^set(test['Course'].unique().tolist()))

[7500, 979, 39, 9257, 4147, 2105]

In [95]:
train['Course']=train['Course'].replace({979:np.NaN,
                                         39:np.NaN })
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76517 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76517 non-null  object
 8   Mother's qualification                          76517 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [96]:
test['Course']=test['Course'].replace({7500:np.NaN,
                                         9257:np.NaN,
                                        2105:np.NaN,
                                         4147:np.NaN,})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51012 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [97]:
list(set(train['Course'].unique().tolist())^set(test['Course'].unique().tolist()))

[]

In [98]:
train['Course'].value_counts()

Course
Nursing                                 12074
Journalism and Communication             8214
Social Service                           7935
Management                               7741
Tourism                                  5425
Veterinary Nursing                       5373
Advertising and Marketing Management     4760
Management (evening attendance)          4057
Agronomy                                 3733
Communication Design                     3281
Basic Education                          3198
Informatics Engineering                  3004
Animation and Multimedia Design          2859
Social Service (evening attendance)      2437
Equinculture                             1606
Oral Hygiene                              746
Biofuel Production Technologies            72
Name: count, dtype: int64

In [99]:
test['Course'].value_counts()

Course
Nursing                                 8140
Journalism and Communication            5610
Social Service                          5300
Management                              5042
Tourism                                 3651
Veterinary Nursing                      3511
Advertising and Marketing Management    3270
Management (evening attendance)         2647
Agronomy                                2535
Communication Design                    2267
Basic Education                         2105
Informatics Engineering                 1935
Animation and Multimedia Design         1792
Social Service (evening attendance)     1531
Equinculture                            1138
Oral Hygiene                             492
Biofuel Production Technologies           42
Name: count, dtype: int64

In [100]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Previous qualification need to be worked on
Nationality need to be worked on
Mother's qualification need to be worked on
Father's qualification need to be worked on

In [101]:
list(set(train['Previous qualification'].unique().tolist())^set(test['Previous qualification'].unique().tolist()))

[16, 36, 37]

In [102]:
train['Previous qualification']=train['Previous qualification'].replace({37:np.NaN,
                                         36:np.NaN, 
                                        17:np.NaN,
                                        11:np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76517 non-null  object
 8   Mother's qualification                          76517 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [103]:
test['Previous qualification']=test['Previous qualification'].replace({17:np.NaN,
                                                                       11:np.NaN,
                                                                       16:np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51012 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [104]:
list(set(train['Previous qualification'].unique().tolist())^set(test['Previous qualification'].unique().tolist()))

[]

In [105]:
train['Previous qualification'].value_counts()

Previous qualification
Secondary education                                         67182
Basic education 3rd cycle (9th/10th/11th year) or equiv.     2947
Technological specialization course                          2928
Higher education - degree                                    1401
Other - 11th year of schooling                                899
12th year of schooling - not completed                        308
Higher education - degree (1st cycle)                         259
Professional higher technical course                          229
Higher education - bachelor's degree                           98
Frequency of higher education                                  98
11th year of schooling - not completed                         43
Higher education - master (2nd cycle)                          39
Basic education 2nd cycle (6th/7th/8th year) or equiv.         38
Higher education - master's                                    23
10th year of schooling - not completed                         11
10th year of schooling                                          3
Higher education - doctorate                                    3
Name: count, dtype: int64

In [106]:
test['Previous qualification'].value_counts()

Previous qualification
Secondary education                                         44823
Basic education 3rd cycle (9th/10th/11th year) or equiv.     1983
Technological specialization course                          1927
Higher education - degree                                     939
Other - 11th year of schooling                                583
12th year of schooling - not completed                        200
Higher education - degree (1st cycle)                         170
Professional higher technical course                          151
Higher education - bachelor's degree                           67
Frequency of higher education                                  58
Basic education 2nd cycle (6th/7th/8th year) or equiv.         27
11th year of schooling - not completed                         26
Higher education - master (2nd cycle)                          22
Higher education - master's                                    19
10th year of schooling - not completed                          9
10th year of schooling                                          3
Higher education - doctorate                                    2
Name: count, dtype: int64

In [107]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Nationality need to be worked on
Mother's qualification need to be worked on
Father's qualification need to be worked on

In [108]:
list(set(train['Nationality'].unique().tolist())^set(test['Nationality'].unique().tolist()))

['English', 'Lithuanian']

In [109]:
test[test['Nationality']=='English'].head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
47361,single,2nd phase - general contingent,2,Journalism and Communication,daytime,Secondary education,150.0,English,Secondary Education - 12th Year of Schooling o...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,0,6,7,6,12.666667,0,8.9,1.4,3.51

In [110]:
test['Nationality']=test['Nationality'].replace({'English':np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51011 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [111]:
train[train['Nationality']=='Lithuanian'].head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
23632,single,3rd phase - general contingent,1,Journalism and Communication,daytime,Secondary education,121.0,Lithuanian,Higher Education - Bachelor's Degree,Secondary Education - 12th Year of Schooling o...,...,0,6,0,0,0.0,0,12.4,0.5,1.79,Dropout
41150,single,2nd phase - general contingent,2,Journalism and Communication,daytime,Secondary education,131.0,Lithuanian,Higher Education - Degree,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,8,5,11.2,0,12.7,3.7,-1.70,Graduate

In [112]:
train['Nationality']=train['Nationality'].replace({'Lithuanian':np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76515 non-null  object
 8   Mother's qualification                          76517 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [113]:
train['Nationality'].value_counts()

Nationality
Portuguese               76012
Brazilian                  221
Santomean                   67
Cape Verdean                56
Spanish                     56
Italian                     15
Guinean                     15
German                      13
Ukrainian                   12
Moldova (Republic of)        9
Mexican                      9
Russian                      9
Angolan                      6
Mozambican                   6
Romanian                     6
Colombian                    2
Turkish                      1
Name: count, dtype: int64

In [114]:
test['Nationality'].value_counts()

Nationality
Portuguese               50719
Brazilian                  106
Santomean                   37
Cape Verdean                36
Spanish                     33
Guinean                     13
Romanian                    11
Italian                      9
Moldova (Republic of)        8
German                       8
Russian                      7
Ukrainian                    7
Mozambican                   7
Angolan                      3
Mexican                      3
Turkish                      2
Colombian                    2
Name: count, dtype: int64

In [115]:
train['Nationality']=train['Nationality'].replace({'Turkish':np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76517 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [116]:
test['Nationality']=test['Nationality'].replace({'Turkish':np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51009 non-null  object
 8   Mother's qualification                          51012 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [117]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Mother's qualification need to be worked on
Father's qualification need to be worked on

In [118]:
list(set(train["Mother's qualification"].unique().tolist())^set(test["Mother's qualification"].unique().tolist()))

[7, 8, 13, 15, 25, 28, '2nd cycle of the general high school course']

In [119]:
train["Mother's qualification"]=train["Mother's qualification"].replace({15:np.NaN,
                                         7:np.NaN, 
                                        33:np.NaN,
                                        8:np.NaN,
                                                                        28:np.NaN,
                                    31:np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76509 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [120]:
test["Mother's qualification"]=test["Mother's qualification"].replace({25:np.NaN,
                                         13:np.NaN, 
                                        31:np.NaN,
                                        33:np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51009 non-null  object
 8   Mother's qualification                          51005 non-null  object
 9   Father's qualification                          51012 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [121]:
train["Mother's qualification"].value_counts()

Mother's qualification
Secondary Education - 12th Year of Schooling or Eq.         20202
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    18980
Basic education 1st cycle (4th/5th year) or equiv.          18664
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       9059
Higher Education - Degree                                    5890
Unknown                                                      1992
Higher Education - Bachelor's Degree                          613
Other - 11th Year of Schooling                                358
Higher Education - Master's                                   313
Higher Education - Doctorate                                   99
Higher education - degree (1st cycle)                          49
Technological specialization course                            46
12th Year of Schooling - Not Completed                         45
7th Year (Old)                                                 32
Specialized higher studies course                              26
Frequency of Higher Education                                  21
Professional higher technical course                           19
Higher Education - Master (2nd cycle)                          16
11th Year of Schooling - Not Completed                         15
Can read without having a 4th year of schooling                15
9th Year of Schooling - Not Completed                          15
Can't read or write                                            10
8th year of schooling                                          10
Technical-professional course                                   5
10th Year of Schooling                                          5
7th year of schooling                                           4
General commerce course                                         3
Higher Education - Doctorate (3rd cycle)                        2
2nd cycle of the general high school course                     1
Name: count, dtype: int64

In [122]:
train["Mother's qualification"]=train["Mother's qualification"].replace({'2nd cycle of the general high school course':np.NaN
                                        })
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76517 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [123]:
train["Mother's qualification"].value_counts()

Mother's qualification
Secondary Education - 12th Year of Schooling or Eq.         20202
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    18980
Basic education 1st cycle (4th/5th year) or equiv.          18664
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       9059
Higher Education - Degree                                    5890
Unknown                                                      1992
Higher Education - Bachelor's Degree                          613
Other - 11th Year of Schooling                                358
Higher Education - Master's                                   313
Higher Education - Doctorate                                   99
Higher education - degree (1st cycle)                          49
Technological specialization course                            46
12th Year of Schooling - Not Completed                         45
7th Year (Old)                                                 32
Specialized higher studies course                              26
Frequency of Higher Education                                  21
Professional higher technical course                           19
Higher Education - Master (2nd cycle)                          16
9th Year of Schooling - Not Completed                          15
Can read without having a 4th year of schooling                15
11th Year of Schooling - Not Completed                         15
Can't read or write                                            10
8th year of schooling                                          10
Technical-professional course                                   5
10th Year of Schooling                                          5
7th year of schooling                                           4
General commerce course                                         3
Higher Education - Doctorate (3rd cycle)                        2
Name: count, dtype: int64

In [124]:
test["Mother's qualification"].value_counts()

Mother's qualification
Secondary Education - 12th Year of Schooling or Eq.         13313
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    12719
Basic education 1st cycle (4th/5th year) or equiv.          12513
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       6068
Higher Education - Degree                                    3918
Unknown                                                      1310
Higher Education - Bachelor's Degree                          434
Other - 11th Year of Schooling                                241
Higher Education - Master's                                   219
Higher Education - Doctorate                                   59
12th Year of Schooling - Not Completed                         36
Higher education - degree (1st cycle)                          31
Technological specialization course                            29
Specialized higher studies course                              18
Frequency of Higher Education                                  16
Professional higher technical course                           12
Higher Education - Master (2nd cycle)                          11
9th Year of Schooling - Not Completed                           9
7th Year (Old)                                                  9
Technical-professional course                                   7
8th year of schooling                                           7
11th Year of Schooling - Not Completed                          6
Can't read or write                                             5
Can read without having a 4th year of schooling                 4
General commerce course                                         4
10th Year of Schooling                                          3
Higher Education - Doctorate (3rd cycle)                        3
7th year of schooling                                           1
Name: count, dtype: int64

In [125]:
list(set(train["Mother's qualification"].unique().tolist())^set(test["Mother's qualification"].unique().tolist()))

[]

In [126]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

Father's qualification need to be worked on

In [127]:
list(set(train["Father's qualification"].unique().tolist())^set(test["Father's qualification"].unique().tolist()))

[15,
 16,
 23,
 24,
 28,
 'Higher Education - Doctorate (3rd cycle)',
 'Complementary High School Course']

In [128]:
train["Father's qualification"]=train["Father's qualification"].replace({21:np.NaN,
                                         7:np.NaN, 
                                        23:np.NaN,
                                        15:np.NaN,
                                                                        24:np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76511 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [129]:
test["Father's qualification"]=test["Father's qualification"].replace({16:np.NaN,
                                         28:np.NaN, 
                                        7:np.NaN,
                                        21:np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51009 non-null  object
 8   Mother's qualification                          51005 non-null  object
 9   Father's qualification                          51008 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [130]:
list(set(train["Father's qualification"].unique().tolist())^set(test["Father's qualification"].unique().tolist()))

['Higher Education - Doctorate (3rd cycle)',
 'Complementary High School Course']

In [131]:
train[train["Father's qualification"]=='Complementary High School Course']

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
72075,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,135.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Complementary High School Course,...,0,5,12,0,0.0,4,10.8,1.4,1.74,Dropout
74811,single,Holders of other higher courses,1,Veterinary Nursing,daytime,Higher education - degree,130.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Complementary High School Course,...,0,6,0,0,0.0,0,10.8,1.4,1.74,Dropout
75959,single,1st phase - general contingent,4,Management,daytime,Secondary education,116.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Complementary High School Course,...,0,5,7,4,13.0,0,8.9,1.4,3.51,Dropout

In [132]:
train[train["Father's qualification"]=='Higher Education - Doctorate (3rd cycle)']

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
12656,single,Technological specialization diploma holders,1,Social Service,daytime,Technological specialization course,130.0,Portuguese,Higher Education - Doctorate,Higher Education - Doctorate (3rd cycle),...,2,6,9,6,12.0,0,16.2,0.3,-0.92,Graduate
62070,single,Change of course,1,Social Service,daytime,Secondary education,120.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Higher Education - Doctorate (3rd cycle),...,2,6,6,2,11.0,0,12.4,0.5,1.79,Dropout
71674,single,Short cycle diploma holders,1,Veterinary Nursing,daytime,Professional higher technical course,140.0,Portuguese,Higher education - degree (1st cycle),Higher Education - Doctorate (3rd cycle),...,0,6,6,6,15.0,0,8.9,1.4,3.51,Graduate

In [133]:
train["Father's qualification"]=train["Father's qualification"].replace({'Higher Education - Doctorate (3rd cycle)':np.NaN,
 'Complementary High School Course':np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76505 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [134]:
train["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          23290
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    19015
Secondary Education - 12th Year of Schooling or Eq.         15604
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.      12253
Higher Education - Degree                                    3011
Unknown                                                      1789
Higher Education - Bachelor's Degree                          496
Other - 11th Year of Schooling                                294
Higher Education - Master's                                   224
Technological specialization course                           120
Higher Education - Doctorate                                  100
7th Year (Old)                                                 75
Can read without having a 4th year of schooling                43
9th Year of Schooling - Not Completed                          25
Higher education - degree (1st cycle)                          25
12th Year of Schooling - Not Completed                         19
10th Year of Schooling                                         18
8th year of schooling                                          14
Higher Education - Master (2nd cycle)                          14
Specialized higher studies course                              13
Technical-professional course                                  11
11th Year of Schooling - Not Completed                         10
7th year of schooling                                           9
Frequency of Higher Education                                   9
Professional higher technical course                            7
Can't read or write                                             5
General commerce course                                         4
2nd year complementary high school course                       3
2nd cycle of the general high school course                     2
Supplementary Accounting and Administration                     1
General Course of Administration and Commerce                   1
Complementary High School Course - not concluded                1
Name: count, dtype: int64

In [135]:
test["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          15536
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    12736
Secondary Education - 12th Year of Schooling or Eq.         10197
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       8302
Higher Education - Degree                                    2024
Unknown                                                      1160
Higher Education - Bachelor's Degree                          342
Other - 11th Year of Schooling                                189
Higher Education - Master's                                   148
Technological specialization course                            91
Higher Education - Doctorate                                   61
7th Year (Old)                                                 39
Can read without having a 4th year of schooling                28
Higher education - degree (1st cycle)                          19
8th year of schooling                                          17
12th Year of Schooling - Not Completed                         16
Technical-professional course                                  16
9th Year of Schooling - Not Completed                          16
Frequency of Higher Education                                  15
11th Year of Schooling - Not Completed                         11
10th Year of Schooling                                         11
7th year of schooling                                           6
Higher Education - Master (2nd cycle)                           5
Specialized higher studies course                               5
Can't read or write                                             4
Supplementary Accounting and Administration                     3
2nd cycle of the general high school course                     3
General Course of Administration and Commerce                   2
General commerce course                                         2
Complementary High School Course - not concluded                2
Professional higher technical course                            1
2nd year complementary high school course                       1
Name: count, dtype: int64

In [136]:
train["Father's qualification"]=train["Father's qualification"].replace({'Supplementary Accounting and Administration':np.NaN,
                                                                         'General Course of Administration and Commerce' :np.NaN,
                                                                         'Complementary High School Course - not concluded' :np.NaN})
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76502 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [137]:
test["Father's qualification"]=test["Father's qualification"].replace({'Supplementary Accounting and Administration':np.NaN,
                                                                         'General Course of Administration and Commerce' :np.NaN,
                                                                         'Complementary High School Course - not concluded' :np.NaN})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int64
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nationality                                     51009 non-null  object
 8   Mother's qualification                          51005 non-null  object
 9   Father's qualification                          51001 non-null  object
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  int64
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(6), int64(15), object(15)
memory usage: 14.0+ MB

In [138]:
train["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          23290
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    19015
Secondary Education - 12th Year of Schooling or Eq.         15604
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.      12253
Higher Education - Degree                                    3011
Unknown                                                      1789
Higher Education - Bachelor's Degree                          496
Other - 11th Year of Schooling                                294
Higher Education - Master's                                   224
Technological specialization course                           120
Higher Education - Doctorate                                  100
7th Year (Old)                                                 75
Can read without having a 4th year of schooling                43
9th Year of Schooling - Not Completed                          25
Higher education - degree (1st cycle)                          25
12th Year of Schooling - Not Completed                         19
10th Year of Schooling                                         18
8th year of schooling                                          14
Higher Education - Master (2nd cycle)                          14
Specialized higher studies course                              13
Technical-professional course                                  11
11th Year of Schooling - Not Completed                         10
7th year of schooling                                           9
Frequency of Higher Education                                   9
Professional higher technical course                            7
Can't read or write                                             5
General commerce course                                         4
2nd year complementary high school course                       3
2nd cycle of the general high school course                     2
Name: count, dtype: int64

In [139]:
test["Father's qualification"].value_counts()

Father's qualification
Basic education 1st cycle (4th/5th year) or equiv.          15536
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.    12736
Secondary Education - 12th Year of Schooling or Eq.         10197
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       8302
Higher Education - Degree                                    2024
Unknown                                                      1160
Higher Education - Bachelor's Degree                          342
Other - 11th Year of Schooling                                189
Higher Education - Master's                                   148
Technological specialization course                            91
Higher Education - Doctorate                                   61
7th Year (Old)                                                 39
Can read without having a 4th year of schooling                28
Higher education - degree (1st cycle)                          19
8th year of schooling                                          17
12th Year of Schooling - Not Completed                         16
9th Year of Schooling - Not Completed                          16
Technical-professional course                                  16
Frequency of Higher Education                                  15
10th Year of Schooling                                         11
11th Year of Schooling - Not Completed                         11
7th year of schooling                                           6
Higher Education - Master (2nd cycle)                           5
Specialized higher studies course                               5
Can't read or write                                             4
2nd cycle of the general high school course                     3
General commerce course                                         2
Professional higher technical course                            1
2nd year complementary high school course                       1
Name: count, dtype: int64

In [140]:
list(set(train["Father's qualification"].unique().tolist())^set(test["Father's qualification"].unique().tolist()))

[]

In [141]:
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
    else:
        continue

In [142]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int64
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float64
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76502 non-null  object
 10  Mother's occupation                             76517 non-null  int64
 11  Father's occupation                             76517 non-null  int64
 12  Admission grade                                 76517 non-null  int64
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int64
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int64
 22  Curricular units 1st sem (enrolled)             76517 non-null  int64
 23  Curricular units 1st sem (evaluations)          76517 non-null  int64
 24  Curricular units 1st sem (approved)             76517 non-null  int64
 25  Curricular units 1st sem (grade)                76517 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int64
 27  Curricular units 2nd sem (credited)             76517 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int64
 30  Curricular units 2nd sem (approved)             76517 non-null  int64
 31  Curricular units 2nd sem (grade)                76517 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int64
 33  Unemployment rate                               76517 non-null  float64
 34  Inflation rate                                  76517 non-null  float64
 35  GDP                                             76517 non-null  float64
 36  Target                                          76517 non-null  object
dtypes: float64(6), int64(15), object(16)
memory usage: 22.2+ MB

In [143]:
train.isnull().sum()

Marital status                                     0
Application mode                                   5
Application order                                  0
Course                                             2
Daytime/evening attendance                         0
Previous qualification                             8
Previous qualification (grade)                     0
Nationality                                        3
Mother's qualification                             9
Father's qualification                            15
Mother's occupation                                0
Father's occupation                                0
Admission grade                                    0
Displaced                                          0
Educational special needs                          0
Debtor                                             0
Tuition fees up to date                            0
Gender                                             0
Scholarship holder                                 0
Age at enrollment                                  0
International                                      0
Curricular units 1st sem (credited)                0
Curricular units 1st sem (enrolled)                0
Curricular units 1st sem (evaluations)             0
Curricular units 1st sem (approved)                0
Curricular units 1st sem (grade)                   0
Curricular units 1st sem (without evaluations)     0
Curricular units 2nd sem (credited)                0
Curricular units 2nd sem (enrolled)                0
Curricular units 2nd sem (evaluations)             0
Curricular units 2nd sem (approved)                0
Curricular units 2nd sem (grade)                   0
Curricular units 2nd sem (without evaluations)     0
Unemployment rate                                  0
Inflation rate                                     0
GDP                                                0
Target                                             0
dtype: int64

In [144]:
train[train.isnull().any(axis=1)].head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
1042,single,Over 23 years old,1,Basic Education,daytime,NaN,133.1,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic education 1st cycle (4th/5th year) or eq...,...,0,6,8,0,0.000000,0,9.4,-0.8,-3.12,Dropout
4877,single,NaN,1,Nursing,daytime,Secondary education,146.0,Portuguese,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,8,8,8,13.750000,0,13.9,-0.3,0.79,Graduate
12656,single,Technological specialization diploma holders,1,Social Service,daytime,Technological specialization course,130.0,Portuguese,Higher Education - Doctorate,NaN,...,2,6,9,6,12.000000,0,16.2,0.3,-0.92,Graduate
13888,divorced,Over 23 years old,1,Management (evening attendance),evening,NaN,133.1,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic education 1st cycle (4th/5th year) or eq...,...,0,5,6,5,11.400000,0,10.8,1.4,1.74,Enrolled
15999,single,1st phase - general contingent,1,Equinculture,daytime,Secondary education,149.0,Portuguese,NaN,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,5,7,3,12.333333,2,7.6,2.6,0.32,Graduate

In [145]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('object')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [146]:
import numpy as np
train = reduce_mem_usage(train)
train.info()

Memory usage of dataframe is 22.18 MB
Memory usage after optimization is: 12.11 MB
Decreased by 45.4%
<class 'pandas.core.frame.DataFrame'>
Index: 76517 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76517 non-null  object
 1   Application mode                                76512 non-null  object
 2   Application order                               76517 non-null  int8
 3   Course                                          76515 non-null  object
 4   Daytime/evening attendance                      76517 non-null  object
 5   Previous qualification                          76509 non-null  object
 6   Previous qualification (grade)                  76517 non-null  float16
 7   Nationality                                     76514 non-null  object
 8   Mother's qualification                          76508 non-null  object
 9   Father's qualification                          76502 non-null  object
 10  Mother's occupation                             76517 non-null  int16
 11  Father's occupation                             76517 non-null  int16
 12  Admission grade                                 76517 non-null  int16
 13  Displaced                                       76517 non-null  object
 14  Educational special needs                       76517 non-null  object
 15  Debtor                                          76517 non-null  object
 16  Tuition fees up to date                         76517 non-null  object
 17  Gender                                          76517 non-null  object
 18  Scholarship holder                              76517 non-null  object
 19  Age at enrollment                               76517 non-null  int8
 20  International                                   76517 non-null  object
 21  Curricular units 1st sem (credited)             76517 non-null  int8
 22  Curricular units 1st sem (enrolled)             76517 non-null  int8
 23  Curricular units 1st sem (evaluations)          76517 non-null  int8
 24  Curricular units 1st sem (approved)             76517 non-null  int8
 25  Curricular units 1st sem (grade)                76517 non-null  float16
 26  Curricular units 1st sem (without evaluations)  76517 non-null  int8
 27  Curricular units 2nd sem (credited)             76517 non-null  int8
 28  Curricular units 2nd sem (enrolled)             76517 non-null  int8
 29  Curricular units 2nd sem (evaluations)          76517 non-null  int8
 30  Curricular units 2nd sem (approved)             76517 non-null  int8
 31  Curricular units 2nd sem (grade)                76517 non-null  float16
 32  Curricular units 2nd sem (without evaluations)  76517 non-null  int8
 33  Unemployment rate                               76517 non-null  float16
 34  Inflation rate                                  76517 non-null  float16
 35  GDP                                             76517 non-null  float16
 36  Target                                          76517 non-null  object
dtypes: float16(6), int16(3), int8(12), object(16)
memory usage: 12.1+ MB

In [147]:
test = reduce_mem_usage(test)
test.info()

Memory usage of dataframe is 14.01 MB
Memory usage after optimization is: 7.30 MB
Decreased by 47.9%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  object
 1   Application mode                                51007 non-null  object
 2   Application order                               51012 non-null  int8
 3   Course                                          51008 non-null  object
 4   Daytime/evening attendance                      51012 non-null  object
 5   Previous qualification                          51009 non-null  object
 6   Previous qualification (grade)                  51012 non-null  float16
 7   Nationality                                     51009 non-null  object
 8   Mother's qualification                          51005 non-null  object
 9   Father's qualification                          51001 non-null  object
 10  Mother's occupation                             51012 non-null  int16
 11  Father's occupation                             51012 non-null  int16
 12  Admission grade                                 51012 non-null  int16
 13  Displaced                                       51012 non-null  object
 14  Educational special needs                       51012 non-null  object
 15  Debtor                                          51012 non-null  object
 16  Tuition fees up to date                         51012 non-null  object
 17  Gender                                          51012 non-null  object
 18  Scholarship holder                              51012 non-null  object
 19  Age at enrollment                               51012 non-null  int8
 20  International                                   51012 non-null  object
 21  Curricular units 1st sem (credited)             51012 non-null  int8
 22  Curricular units 1st sem (enrolled)             51012 non-null  int8
 23  Curricular units 1st sem (evaluations)          51012 non-null  int8
 24  Curricular units 1st sem (approved)             51012 non-null  int8
 25  Curricular units 1st sem (grade)                51012 non-null  float16
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int8
 27  Curricular units 2nd sem (credited)             51012 non-null  int8
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int8
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int8
 30  Curricular units 2nd sem (approved)             51012 non-null  int8
 31  Curricular units 2nd sem (grade)                51012 non-null  float16
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int8
 33  Unemployment rate                               51012 non-null  float16
 34  Inflation rate                                  51012 non-null  float16
 35  GDP                                             51012 non-null  float16
dtypes: float16(6), int16(3), int8(12), object(15)
memory usage: 7.3+ MB

In [148]:
!pip install flaml

Collecting flaml
  Downloading FLAML-2.1.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: NumPy>=1.17 in /opt/conda/lib/python3.10/site-packages (from flaml) (1.26.4)
Downloading FLAML-2.1.2-py3-none-any.whl (296 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.7/296.7 kB 5.3 MB/s eta 0:00:00
WARNING: Error parsing requirements for aiohttp: [Errno 2] No such file or directory: '/opt/conda/lib/python3.10/site-packages/aiohttp-3.9.1.dist-info/METADATA'
Installing collected packages: flaml
Successfully installed flaml-2.1.2

In [149]:
from flaml import AutoML
automl = AutoML()

2024-06-01 10:14:26,178	INFO util.py:124 -- Outdated packages:
  ipywidgets==7.7.1 found, needs ipywidgets>=8
Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.
2024-06-01 10:14:27,138	INFO util.py:124 -- Outdated packages:
  ipywidgets==7.7.1 found, needs ipywidgets>=8
Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

In [150]:
y = train.pop('Target')
X = train

In [151]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42,shuffle=True, stratify=y)

In [152]:
automl.fit(X, y, task="classification",metric='roc_auc_ovo',time_budget=3600*3)

[flaml.automl.logger: 06-01 10:14:31] {1680} INFO - task = classification
[flaml.automl.logger: 06-01 10:14:31] {1691} INFO - Evaluation method: cv
[flaml.automl.logger: 06-01 10:14:31] {1789} INFO - Minimizing error metric: 1-roc_auc_ovo
[flaml.automl.logger: 06-01 10:14:31] {1901} INFO - List of ML learners in AutoML Run: ['lgbm', 'rf', 'catboost', 'xgboost', 'extra_tree', 'xgb_limitdepth', 'lrl1']
[flaml.automl.logger: 06-01 10:14:31] {2219} INFO - iteration 0, current learner lgbm
[flaml.automl.logger: 06-01 10:14:34] {2345} INFO - Estimated sufficient time budget=25485s. Estimated necessary time budget=626s.
[flaml.automl.logger: 06-01 10:14:34] {2392} INFO -  at 3.5s,	estimator lgbm's best error=0.1122,	best estimator lgbm's best error=0.1122
[flaml.automl.logger: 06-01 10:14:34] {2219} INFO - iteration 1, current learner lgbm
[flaml.automl.logger: 06-01 10:14:37] {2392} INFO -  at 6.0s,	estimator lgbm's best error=0.1122,	best estimator lgbm's best error=0.1122
[flaml.automl.logger: 06-01 10:14:37] {2219} INFO - iteration 2, current learner lgbm
[flaml.automl.logger: 06-01 10:14:39] {2392} INFO -  at 8.7s,	estimator lgbm's best error=0.1014,	best estimator lgbm's best error=0.1014
[flaml.automl.logger: 06-01 10:14:39] {2219} INFO - iteration 3, current learner xgboost
[flaml.automl.logger: 06-01 10:14:42] {2392} INFO -  at 11.5s,	estimator xgboost's best error=0.1136,	best estimator lgbm's best error=0.1014
[flaml.automl.logger: 06-01 10:14:42] {2219} INFO - iteration 4, current learner lgbm
[flaml.automl.logger: 06-01 10:14:46] {2392} INFO -  at 15.8s,	estimator lgbm's best error=0.0803,	best estimator lgbm's best error=0.0803
[flaml.automl.logger: 06-01 10:14:46] {2219} INFO - iteration 5, current learner lgbm
[flaml.automl.logger: 06-01 10:14:49] {2392} INFO -  at 18.5s,	estimator lgbm's best error=0.0803,	best estimator lgbm's best error=0.0803
[flaml.automl.logger: 06-01 10:14:49] {2219} INFO - iteration 6, current learner lgbm
[flaml.automl.logger: 06-01 10:14:54] {2392} INFO -  at 23.3s,	estimator lgbm's best error=0.0775,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:14:54] {2219} INFO - iteration 7, current learner lgbm
[flaml.automl.logger: 06-01 10:14:58] {2392} INFO -  at 27.6s,	estimator lgbm's best error=0.0775,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:14:58] {2219} INFO - iteration 8, current learner lgbm
[flaml.automl.logger: 06-01 10:15:01] {2392} INFO -  at 30.4s,	estimator lgbm's best error=0.0775,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:01] {2219} INFO - iteration 9, current learner xgboost
[flaml.automl.logger: 06-01 10:15:04] {2392} INFO -  at 33.1s,	estimator xgboost's best error=0.1136,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:04] {2219} INFO - iteration 10, current learner xgboost
[flaml.automl.logger: 06-01 10:15:06] {2392} INFO -  at 35.9s,	estimator xgboost's best error=0.1040,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:06] {2219} INFO - iteration 11, current learner extra_tree
[flaml.automl.logger: 06-01 10:15:07] {2392} INFO -  at 36.7s,	estimator extra_tree's best error=0.1813,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:07] {2219} INFO - iteration 12, current learner extra_tree
[flaml.automl.logger: 06-01 10:15:08] {2392} INFO -  at 37.7s,	estimator extra_tree's best error=0.1291,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:08] {2219} INFO - iteration 13, current learner extra_tree
[flaml.automl.logger: 06-01 10:15:09] {2392} INFO -  at 38.5s,	estimator extra_tree's best error=0.1291,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:09] {2219} INFO - iteration 14, current learner extra_tree
[flaml.automl.logger: 06-01 10:15:10] {2392} INFO -  at 39.7s,	estimator extra_tree's best error=0.1272,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:10] {2219} INFO - iteration 15, current learner rf
[flaml.automl.logger: 06-01 10:15:11] {2392} INFO -  at 40.7s,	estimator rf's best error=0.1451,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:11] {2219} INFO - iteration 16, current learner rf
[flaml.automl.logger: 06-01 10:15:13] {2392} INFO -  at 42.0s,	estimator rf's best error=0.1030,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:13] {2219} INFO - iteration 17, current learner rf
[flaml.automl.logger: 06-01 10:15:14] {2392} INFO -  at 43.0s,	estimator rf's best error=0.1030,	best estimator lgbm's best error=0.0775
[flaml.automl.logger: 06-01 10:15:14] {2219} INFO - iteration 18, current learner lgbm
[flaml.automl.logger: 06-01 10:15:25] {2392} INFO -  at 54.2s,	estimator lgbm's best error=0.0744,	best estimator lgbm's best error=0.0744
[flaml.automl.logger: 06-01 10:15:25] {2219} INFO - iteration 19, current learner rf
[flaml.automl.logger: 06-01 10:15:26] {2392} INFO -  at 55.7s,	estimator rf's best error=0.1030,	best estimator lgbm's best error=0.0744
[flaml.automl.logger: 06-01 10:15:26] {2219} INFO - iteration 20, current learner rf
[flaml.automl.logger: 06-01 10:15:28] {2392} INFO -  at 57.4s,	estimator rf's best error=0.1020,	best estimator lgbm's best error=0.0744
[flaml.automl.logger: 06-01 10:15:28] {2219} INFO - iteration 21, current learner lgbm
[flaml.automl.logger: 06-01 10:15:33] {2392} INFO -  at 62.0s,	estimator lgbm's best error=0.0744,	best estimator lgbm's best error=0.0744
[flaml.automl.logger: 06-01 10:15:33] {2219} INFO - iteration 22, current learner lgbm
[flaml.automl.logger: 06-01 10:16:13] {2392} INFO -  at 102.8s,	estimator lgbm's best error=0.0729,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:16:13] {2219} INFO - iteration 23, current learner lgbm
[flaml.automl.logger: 06-01 10:17:07] {2392} INFO -  at 156.0s,	estimator lgbm's best error=0.0729,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:07] {2219} INFO - iteration 24, current learner xgboost
[flaml.automl.logger: 06-01 10:17:09] {2392} INFO -  at 158.8s,	estimator xgboost's best error=0.0885,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:09] {2219} INFO - iteration 25, current learner extra_tree
[flaml.automl.logger: 06-01 10:17:10] {2392} INFO -  at 159.8s,	estimator extra_tree's best error=0.1272,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:10] {2219} INFO - iteration 26, current learner xgboost
[flaml.automl.logger: 06-01 10:17:13] {2392} INFO -  at 162.8s,	estimator xgboost's best error=0.0885,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:13] {2219} INFO - iteration 27, current learner xgboost
[flaml.automl.logger: 06-01 10:17:16] {2392} INFO -  at 165.6s,	estimator xgboost's best error=0.0885,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:16] {2219} INFO - iteration 28, current learner xgboost
[flaml.automl.logger: 06-01 10:17:21] {2392} INFO -  at 170.5s,	estimator xgboost's best error=0.0796,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:21] {2219} INFO - iteration 29, current learner xgboost
[flaml.automl.logger: 06-01 10:17:29] {2392} INFO -  at 178.1s,	estimator xgboost's best error=0.0770,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:17:29] {2219} INFO - iteration 30, current learner lgbm
[flaml.automl.logger: 06-01 10:18:11] {2392} INFO -  at 220.4s,	estimator lgbm's best error=0.0729,	best estimator lgbm's best error=0.0729
[flaml.automl.logger: 06-01 10:18:11] {2219} INFO - iteration 31, current learner lgbm
[flaml.automl.logger: 06-01 10:19:02] {2392} INFO -  at 271.5s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:19:02] {2219} INFO - iteration 32, current learner rf
[flaml.automl.logger: 06-01 10:19:05] {2392} INFO -  at 274.2s,	estimator rf's best error=0.1020,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:19:05] {2219} INFO - iteration 33, current learner xgboost
[flaml.automl.logger: 06-01 10:19:10] {2392} INFO -  at 279.6s,	estimator xgboost's best error=0.0770,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:19:10] {2219} INFO - iteration 34, current learner catboost
[flaml.automl.logger: 06-01 10:22:24] {2392} INFO -  at 473.4s,	estimator catboost's best error=0.0744,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:22:24] {2219} INFO - iteration 35, current learner lgbm
[flaml.automl.logger: 06-01 10:23:05] {2392} INFO -  at 514.0s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:23:05] {2219} INFO - iteration 36, current learner xgboost
[flaml.automl.logger: 06-01 10:23:13] {2392} INFO -  at 522.8s,	estimator xgboost's best error=0.0742,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:23:13] {2219} INFO - iteration 37, current learner extra_tree
[flaml.automl.logger: 06-01 10:23:15] {2392} INFO -  at 524.6s,	estimator extra_tree's best error=0.1272,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:23:15] {2219} INFO - iteration 38, current learner xgboost
[flaml.automl.logger: 06-01 10:23:23] {2392} INFO -  at 532.2s,	estimator xgboost's best error=0.0742,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:23:23] {2219} INFO - iteration 39, current learner xgboost
[flaml.automl.logger: 06-01 10:23:28] {2392} INFO -  at 537.6s,	estimator xgboost's best error=0.0742,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:23:28] {2219} INFO - iteration 40, current learner catboost
[flaml.automl.logger: 06-01 10:38:30] {2392} INFO -  at 1439.1s,	estimator catboost's best error=0.0744,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:38:30] {2219} INFO - iteration 41, current learner xgboost
[flaml.automl.logger: 06-01 10:38:47] {2392} INFO -  at 1456.0s,	estimator xgboost's best error=0.0724,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:38:47] {2219} INFO - iteration 42, current learner xgboost
[flaml.automl.logger: 06-01 10:38:54] {2392} INFO -  at 1463.8s,	estimator xgboost's best error=0.0724,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:38:54] {2219} INFO - iteration 43, current learner lgbm
[flaml.automl.logger: 06-01 10:39:43] {2392} INFO -  at 1512.8s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:39:43] {2219} INFO - iteration 44, current learner xgboost
[flaml.automl.logger: 06-01 10:40:26] {2392} INFO -  at 1555.2s,	estimator xgboost's best error=0.0721,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:40:26] {2219} INFO - iteration 45, current learner extra_tree
[flaml.automl.logger: 06-01 10:40:27] {2392} INFO -  at 1556.1s,	estimator extra_tree's best error=0.1270,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:40:27] {2219} INFO - iteration 46, current learner xgboost
[flaml.automl.logger: 06-01 10:40:50] {2392} INFO -  at 1579.2s,	estimator xgboost's best error=0.0721,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:40:50] {2219} INFO - iteration 47, current learner rf
[flaml.automl.logger: 06-01 10:40:52] {2392} INFO -  at 1581.1s,	estimator rf's best error=0.0953,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:40:52] {2219} INFO - iteration 48, current learner xgboost
[flaml.automl.logger: 06-01 10:42:03] {2392} INFO -  at 1652.1s,	estimator xgboost's best error=0.0721,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:42:03] {2219} INFO - iteration 49, current learner lgbm
[flaml.automl.logger: 06-01 10:43:04] {2392} INFO -  at 1713.2s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:43:04] {2219} INFO - iteration 50, current learner rf
[flaml.automl.logger: 06-01 10:43:09] {2392} INFO -  at 1718.1s,	estimator rf's best error=0.0874,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:43:09] {2219} INFO - iteration 51, current learner xgboost
[flaml.automl.logger: 06-01 10:43:26] {2392} INFO -  at 1735.5s,	estimator xgboost's best error=0.0721,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:43:26] {2219} INFO - iteration 52, current learner rf
[flaml.automl.logger: 06-01 10:43:28] {2392} INFO -  at 1737.3s,	estimator rf's best error=0.0874,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:43:28] {2219} INFO - iteration 53, current learner rf
[flaml.automl.logger: 06-01 10:43:32] {2392} INFO -  at 1741.4s,	estimator rf's best error=0.0874,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:43:32] {2219} INFO - iteration 54, current learner lgbm
[flaml.automl.logger: 06-01 10:44:11] {2392} INFO -  at 1780.4s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:44:11] {2219} INFO - iteration 55, current learner lgbm
[flaml.automl.logger: 06-01 10:45:36] {2392} INFO -  at 1865.2s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:45:36] {2219} INFO - iteration 56, current learner rf
[flaml.automl.logger: 06-01 10:45:41] {2392} INFO -  at 1870.3s,	estimator rf's best error=0.0828,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:45:41] {2219} INFO - iteration 57, current learner rf
[flaml.automl.logger: 06-01 10:45:43] {2392} INFO -  at 1872.7s,	estimator rf's best error=0.0828,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:45:43] {2219} INFO - iteration 58, current learner rf
[flaml.automl.logger: 06-01 10:45:54] {2392} INFO -  at 1883.2s,	estimator rf's best error=0.0805,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:45:54] {2219} INFO - iteration 59, current learner rf
[flaml.automl.logger: 06-01 10:45:59] {2392} INFO -  at 1888.5s,	estimator rf's best error=0.0805,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:45:59] {2219} INFO - iteration 60, current learner lgbm
[flaml.automl.logger: 06-01 10:46:25] {2392} INFO -  at 1914.6s,	estimator lgbm's best error=0.0720,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:46:25] {2219} INFO - iteration 61, current learner catboost
[flaml.automl.logger: 06-01 10:47:35] {2392} INFO -  at 1984.7s,	estimator catboost's best error=0.0744,	best estimator lgbm's best error=0.0720
[flaml.automl.logger: 06-01 10:47:35] {2219} INFO - iteration 62, current learner lgbm
[flaml.automl.logger: 06-01 10:49:52] {2392} INFO -  at 2121.8s,	estimator lgbm's best error=0.0715,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:49:52] {2219} INFO - iteration 63, current learner rf
[flaml.automl.logger: 06-01 10:50:12] {2392} INFO -  at 2141.6s,	estimator rf's best error=0.0805,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:12] {2219} INFO - iteration 64, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:50:18] {2392} INFO -  at 2147.6s,	estimator xgb_limitdepth's best error=0.0787,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:18] {2219} INFO - iteration 65, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:50:24] {2392} INFO -  at 2153.5s,	estimator xgb_limitdepth's best error=0.0787,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:24] {2219} INFO - iteration 66, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:50:30] {2392} INFO -  at 2159.8s,	estimator xgb_limitdepth's best error=0.0762,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:30] {2219} INFO - iteration 67, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:50:36] {2392} INFO -  at 2165.4s,	estimator xgb_limitdepth's best error=0.0762,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:36] {2219} INFO - iteration 68, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:50:43] {2392} INFO -  at 2172.5s,	estimator xgb_limitdepth's best error=0.0762,	best estimator lgbm's best error=0.0715
[flaml.automl.logger: 06-01 10:50:43] {2219} INFO - iteration 69, current learner xgboost
[flaml.automl.logger: 06-01 10:52:37] {2392} INFO -  at 2286.1s,	estimator xgboost's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:52:37] {2219} INFO - iteration 70, current learner lgbm
[flaml.automl.logger: 06-01 10:55:57] {2392} INFO -  at 2486.5s,	estimator lgbm's best error=0.0715,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:55:57] {2219} INFO - iteration 71, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:56:01] {2392} INFO -  at 2490.0s,	estimator xgb_limitdepth's best error=0.0762,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:56:01] {2219} INFO - iteration 72, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:56:14] {2392} INFO -  at 2503.1s,	estimator xgb_limitdepth's best error=0.0762,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:56:14] {2219} INFO - iteration 73, current learner xgboost
[flaml.automl.logger: 06-01 10:56:50] {2392} INFO -  at 2539.1s,	estimator xgboost's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:56:50] {2219} INFO - iteration 74, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 10:56:58] {2392} INFO -  at 2547.8s,	estimator xgb_limitdepth's best error=0.0752,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 10:56:58] {2219} INFO - iteration 75, current learner xgboost
[flaml.automl.logger: 06-01 11:03:58] {2392} INFO -  at 2967.0s,	estimator xgboost's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:03:58] {2219} INFO - iteration 76, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:04:04] {2392} INFO -  at 2973.6s,	estimator xgb_limitdepth's best error=0.0752,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:04:04] {2219} INFO - iteration 77, current learner rf
[flaml.automl.logger: 06-01 11:04:15] {2392} INFO -  at 2984.8s,	estimator rf's best error=0.0805,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:04:15] {2219} INFO - iteration 78, current learner rf
[flaml.automl.logger: 06-01 11:04:25] {2392} INFO -  at 2994.3s,	estimator rf's best error=0.0805,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:04:25] {2219} INFO - iteration 79, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:04:35] {2392} INFO -  at 3004.4s,	estimator xgb_limitdepth's best error=0.0752,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:04:35] {2219} INFO - iteration 80, current learner lrl1

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

[flaml.automl.logger: 06-01 11:05:33] {2392} INFO -  at 3062.1s,	estimator lrl1's best error=0.0895,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:05:33] {2219} INFO - iteration 81, current learner lrl1

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

[flaml.automl.logger: 06-01 11:06:30] {2392} INFO -  at 3119.5s,	estimator lrl1's best error=0.0895,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:06:30] {2219} INFO - iteration 82, current learner rf

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

[flaml.automl.logger: 06-01 11:06:35] {2392} INFO -  at 3124.7s,	estimator rf's best error=0.0805,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:06:35] {2219} INFO - iteration 83, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:06:43] {2392} INFO -  at 3132.4s,	estimator xgb_limitdepth's best error=0.0752,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:06:43] {2219} INFO - iteration 84, current learner rf
[flaml.automl.logger: 06-01 11:07:05] {2392} INFO -  at 3154.0s,	estimator rf's best error=0.0805,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:05] {2219} INFO - iteration 85, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:07] {2392} INFO -  at 3156.2s,	estimator extra_tree's best error=0.1105,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:07] {2219} INFO - iteration 86, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:08] {2392} INFO -  at 3157.2s,	estimator extra_tree's best error=0.1105,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:08] {2219} INFO - iteration 87, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:09] {2392} INFO -  at 3158.8s,	estimator extra_tree's best error=0.1105,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:09] {2219} INFO - iteration 88, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:12] {2392} INFO -  at 3161.2s,	estimator extra_tree's best error=0.0965,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:12] {2219} INFO - iteration 89, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:13] {2392} INFO -  at 3162.8s,	estimator extra_tree's best error=0.0965,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:13] {2219} INFO - iteration 90, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:18] {2392} INFO -  at 3167.3s,	estimator extra_tree's best error=0.0910,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:18] {2219} INFO - iteration 91, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:20] {2392} INFO -  at 3169.6s,	estimator extra_tree's best error=0.0910,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:20] {2219} INFO - iteration 92, current learner extra_tree
[flaml.automl.logger: 06-01 11:07:31] {2392} INFO -  at 3180.2s,	estimator extra_tree's best error=0.0904,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:07:31] {2219} INFO - iteration 93, current learner xgboost
[flaml.automl.logger: 06-01 11:08:50] {2392} INFO -  at 3259.7s,	estimator xgboost's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:08:50] {2219} INFO - iteration 94, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:08:56] {2392} INFO -  at 3265.0s,	estimator xgb_limitdepth's best error=0.0752,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:08:56] {2219} INFO - iteration 95, current learner extra_tree
[flaml.automl.logger: 06-01 11:09:06] {2392} INFO -  at 3275.1s,	estimator extra_tree's best error=0.0864,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:09:06] {2219} INFO - iteration 96, current learner extra_tree
[flaml.automl.logger: 06-01 11:09:16] {2392} INFO -  at 3285.2s,	estimator extra_tree's best error=0.0864,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:09:16] {2219} INFO - iteration 97, current learner rf
[flaml.automl.logger: 06-01 11:09:31] {2392} INFO -  at 3300.8s,	estimator rf's best error=0.0795,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:09:31] {2219} INFO - iteration 98, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:09:48] {2392} INFO -  at 3317.1s,	estimator xgb_limitdepth's best error=0.0746,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:09:48] {2219} INFO - iteration 99, current learner extra_tree
[flaml.automl.logger: 06-01 11:09:53] {2392} INFO -  at 3322.0s,	estimator extra_tree's best error=0.0864,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:09:53] {2219} INFO - iteration 100, current learner extra_tree
[flaml.automl.logger: 06-01 11:10:14] {2392} INFO -  at 3343.4s,	estimator extra_tree's best error=0.0844,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:10:14] {2219} INFO - iteration 101, current learner xgboost
[flaml.automl.logger: 06-01 11:12:53] {2392} INFO -  at 3502.6s,	estimator xgboost's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:12:53] {2219} INFO - iteration 102, current learner catboost
[flaml.automl.logger: 06-01 11:25:48] {2392} INFO -  at 4277.4s,	estimator catboost's best error=0.0744,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:25:48] {2219} INFO - iteration 103, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:25:55] {2392} INFO -  at 4284.8s,	estimator xgb_limitdepth's best error=0.0746,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:25:55] {2219} INFO - iteration 104, current learner extra_tree
[flaml.automl.logger: 06-01 11:26:24] {2392} INFO -  at 4313.5s,	estimator extra_tree's best error=0.0812,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:26:24] {2219} INFO - iteration 105, current learner lgbm
[flaml.automl.logger: 06-01 11:27:45] {2392} INFO -  at 4394.4s,	estimator lgbm's best error=0.0713,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:27:45] {2219} INFO - iteration 106, current learner extra_tree
[flaml.automl.logger: 06-01 11:28:08] {2392} INFO -  at 4417.3s,	estimator extra_tree's best error=0.0812,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:28:08] {2219} INFO - iteration 107, current learner catboost
[flaml.automl.logger: 06-01 11:29:18] {2392} INFO -  at 4487.0s,	estimator catboost's best error=0.0744,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:29:18] {2219} INFO - iteration 108, current learner extra_tree
[flaml.automl.logger: 06-01 11:29:54] {2392} INFO -  at 4523.2s,	estimator extra_tree's best error=0.0812,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:29:54] {2219} INFO - iteration 109, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:30:37] {2392} INFO -  at 4566.5s,	estimator xgb_limitdepth's best error=0.0716,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:30:37] {2219} INFO - iteration 110, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:31:02] {2392} INFO -  at 4591.2s,	estimator xgb_limitdepth's best error=0.0716,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:31:02] {2219} INFO - iteration 111, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:32:22] {2392} INFO -  at 4671.7s,	estimator xgb_limitdepth's best error=0.0716,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:32:22] {2219} INFO - iteration 112, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:32:41] {2392} INFO -  at 4690.7s,	estimator xgb_limitdepth's best error=0.0716,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:32:41] {2219} INFO - iteration 113, current learner lgbm
[flaml.automl.logger: 06-01 11:34:25] {2392} INFO -  at 4794.3s,	estimator lgbm's best error=0.0713,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:34:25] {2219} INFO - iteration 114, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:36:12] {2392} INFO -  at 4901.7s,	estimator xgb_limitdepth's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:36:12] {2219} INFO - iteration 115, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:36:48] {2392} INFO -  at 4937.5s,	estimator xgb_limitdepth's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:36:48] {2219} INFO - iteration 116, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:42:13] {2392} INFO -  at 5262.5s,	estimator xgb_limitdepth's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:42:13] {2219} INFO - iteration 117, current learner rf
[flaml.automl.logger: 06-01 11:42:22] {2392} INFO -  at 5271.8s,	estimator rf's best error=0.0795,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:42:22] {2219} INFO - iteration 118, current learner lgbm
[flaml.automl.logger: 06-01 11:43:18] {2392} INFO -  at 5327.5s,	estimator lgbm's best error=0.0713,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:43:18] {2219} INFO - iteration 119, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:44:42] {2392} INFO -  at 5411.7s,	estimator xgb_limitdepth's best error=0.0712,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:44:42] {2219} INFO - iteration 120, current learner extra_tree
[flaml.automl.logger: 06-01 11:45:11] {2392} INFO -  at 5440.1s,	estimator extra_tree's best error=0.0798,	best estimator xgboost's best error=0.0712
[flaml.automl.logger: 06-01 11:45:11] {2219} INFO - iteration 121, current learner lgbm
[flaml.automl.logger: 06-01 11:46:26] {2392} INFO -  at 5515.3s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:46:26] {2219} INFO - iteration 122, current learner xgboost
[flaml.automl.logger: 06-01 11:47:18] {2392} INFO -  at 5567.4s,	estimator xgboost's best error=0.0712,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:47:18] {2219} INFO - iteration 123, current learner xgboost
[flaml.automl.logger: 06-01 11:51:15] {2392} INFO -  at 5804.9s,	estimator xgboost's best error=0.0710,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:51:15] {2219} INFO - iteration 124, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 11:53:35] {2392} INFO -  at 5944.3s,	estimator xgb_limitdepth's best error=0.0712,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:53:35] {2219} INFO - iteration 125, current learner xgboost
[flaml.automl.logger: 06-01 11:54:32] {2392} INFO -  at 6001.8s,	estimator xgboost's best error=0.0710,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:54:32] {2219} INFO - iteration 126, current learner lgbm
[flaml.automl.logger: 06-01 11:55:54] {2392} INFO -  at 6083.0s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:55:54] {2219} INFO - iteration 127, current learner lgbm
[flaml.automl.logger: 06-01 11:58:39] {2392} INFO -  at 6248.0s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:58:39] {2219} INFO - iteration 128, current learner lgbm
[flaml.automl.logger: 06-01 11:59:14] {2392} INFO -  at 6283.7s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:59:14] {2219} INFO - iteration 129, current learner lgbm
[flaml.automl.logger: 06-01 11:59:55] {2392} INFO -  at 6323.9s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 11:59:55] {2219} INFO - iteration 130, current learner lgbm
[flaml.automl.logger: 06-01 12:02:56] {2392} INFO -  at 6505.6s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 12:02:56] {2219} INFO - iteration 131, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 12:03:49] {2392} INFO -  at 6558.8s,	estimator xgb_limitdepth's best error=0.0712,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 12:03:49] {2219} INFO - iteration 132, current learner xgboost
[flaml.automl.logger: 06-01 12:24:34] {2392} INFO -  at 7803.1s,	estimator xgboost's best error=0.0710,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 12:24:34] {2219} INFO - iteration 133, current learner catboost
[flaml.automl.logger: 06-01 12:59:02] {2392} INFO -  at 9871.9s,	estimator catboost's best error=0.0744,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 12:59:02] {2219} INFO - iteration 134, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 13:02:55] {2392} INFO -  at 10104.4s,	estimator xgb_limitdepth's best error=0.0712,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:02:55] {2219} INFO - iteration 135, current learner lgbm
[flaml.automl.logger: 06-01 13:03:30] {2392} INFO -  at 10139.7s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:03:30] {2219} INFO - iteration 136, current learner lgbm
[flaml.automl.logger: 06-01 13:06:02] {2392} INFO -  at 10291.7s,	estimator lgbm's best error=0.0709,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:06:02] {2219} INFO - iteration 137, current learner xgboost
[flaml.automl.logger: 06-01 13:08:50] {2392} INFO -  at 10459.5s,	estimator xgboost's best error=0.0710,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:08:50] {2219} INFO - iteration 138, current learner xgb_limitdepth
[flaml.automl.logger: 06-01 13:09:16] {2392} INFO -  at 10485.1s,	estimator xgb_limitdepth's best error=0.0712,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:09:16] {2219} INFO - iteration 139, current learner xgboost
[flaml.automl.logger: 06-01 13:14:37] {2392} INFO -  at 10806.8s,	estimator xgboost's best error=0.0710,	best estimator lgbm's best error=0.0709
[flaml.automl.logger: 06-01 13:14:53] {2628} INFO - retrain lgbm for 16.1s
[flaml.automl.logger: 06-01 13:14:53] {2631} INFO - retrained model: LGBMClassifier(colsample_bytree=0.4804131128760313,
               learning_rate=0.0526991568211921, max_bin=255,
               min_child_samples=4, n_estimators=1, n_jobs=-1, num_leaves=115,
               reg_alpha=0.0009765625, reg_lambda=0.029242177822527835,
               verbose=-1)
[flaml.automl.logger: 06-01 13:14:53] {1931} INFO - fit succeeded
[flaml.automl.logger: 06-01 13:14:53] {1932} INFO - Time taken to find the best model: 5515.2611973285675

In [153]:
print('Best ML leaner:', automl.best_estimator)
print('Best hyperparmeter config:', automl.best_config)
print('Best roc_auc_ovo  on validation data: {0:.4g}'.format(1-automl.best_loss))
print('Training duration of best run: {0:.4g} s'.format(automl.best_config_train_time))

Best ML leaner: lgbm
Best hyperparmeter config: {'n_estimators': 211, 'num_leaves': 115, 'min_child_samples': 4, 'learning_rate': 0.0526991568211921, 'log_max_bin': 8, 'colsample_bytree': 0.4804131128760313, 'reg_alpha': 0.0009765625, 'reg_lambda': 0.029242177822527835}
Best roc_auc_ovo  on validation data: 0.9291
Training duration of best run: 16.05 s

In [154]:
y_pred = automl.predict(test)
y_pred[:5]

array(['Dropout', 'Graduate', 'Graduate', 'Graduate', 'Enrolled'],
      dtype=object)

In [155]:
df = pd.DataFrame(y_pred,columns=['Target'])
df.head()

     Target
0   Dropout
1  Graduate
2  Graduate
3  Graduate
4  Enrolled

In [156]:
sol=pd.read_csv('/kaggle/input/playground-series-s4e6/sample_submission.csv')
sol.head()

      id    Target
0  76518  Graduate
1  76519  Graduate
2  76520  Graduate
3  76521  Graduate
4  76522  Graduate

In [157]:
sol['Target']=df['Target']
sol.head()

      id    Target
0  76518   Dropout
1  76519  Graduate
2  76520  Graduate
3  76521  Graduate
4  76522  Enrolled

In [158]:
sol.to_csv('./roc_auc_ovo.csv',index=False)